
{% include "layouts/navbar.html" %}
<title>Dark Mode</title>
<body style="font-family: Baskerville" </body>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/scss/main.css">
</head>
<body onload="myFunction()">
<div class="container animate-bottom">
    <h3>Light / Dark Mode</h3>
    <div class="toggle-container">
        <input type="checkbox" id="switch" name="theme"><label for="switch">Toggle</label>
    </div>

    <p>This is Dark Mode</p>
</div>
<script src="/static/navbar.js"></script>
</body>
</html>