.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/**/aws.xml
.idea/**/contentModel.xml

node_modules
/node_modules/.package-lock.json
/static/scss/custom.css.map
/package.json
/package-lock.json