html {
  height:100%;
  display: grid;
  text-align: center;
  align-items: center;
  justify-items: center;
  --bg: #8E6F64;
  --bg-panel: #E1CFC9;
  --color-headings:#000000;
  --color-text:#000000;
}

body {
  background-color: var(--bg);

}

.container {
  background-color: var(--bg-panel);
  margin: 5em;
  padding: 5em;
  border-radius: 15px;

  display: grid;
  grid-template-columns: 80% auto;
  grid-template-rows: auto auto;
  grid-template-areas:
    "title switch"
    "content content";
}