<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="https://csp.nighthawkcodingsociety.com/">{{basename}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <!-- url_for is a Jinja2 pre-processor that finds route from function name (def) -->
            <a class="nav-link" href={{ url_for('index') }}>Expeditions</a>
            <a class="nav-link" href={{ url_for('rohan') }}>Rohan</a>
            <a class="nav-link" href={{ url_for('adi') }}>Adi</a>
            <a class="nav-link" href={{ url_for('jason') }}>Jason</a>
            <a class="nav-link" href={{ url_for('divya') }}>Divya</a>
            <a class="nav-link" href={{ url_for('brian') }}>Brian</a>
            <a class="nav-link" href={{ url_for('photogallery') }}>Photography</a>
            <a class="nav-link" href={{ url_for('weather') }}>Weather</a>
            <a class="nav-link" href={{ url_for('hotels') }}>Hotel</a>
            <a class="nav-link" href={{ url_for('maps') }}>Map</a>
            <a class="nav-link" href={{ url_for('crud.crud') }}>Crud</a>
            <a class="nav-link" href={{ url_for('crud.search') }}>Search</a>
            <a class="nav-link" href={{ url_for('carrental') }}>Car Rental</a>
            <a class="nav-link" href={{ url_for('flights') }}>Flights</a>
            <a class="nav-link" href={{ url_for('location') }}>Next Trip?</a>

            <form class="form-inline" onsubmit="alert('it works')">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
        <ul class="nav navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Databases
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="nav-link" href={{ url_for('crud.search') }}>SQL Search</a>
                    <a class="nav-link" href={{ url_for('crud.crud') }}>SQL Crud </a>
                </div>
            </li>
        </ul>
    </div>



    {#    <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">#}
    {#        <ul class="navbar-nav">#}
    {#            <li class="nav-item dropdown">#}
    {#                <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">#}
    {#                    Data#}
    {#                </a>#}
    {#                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">#}
    {#                    <li><a class="nav-link" href={{ url_for('crud.crud') }}>Crud</a></li>#}
    {#                    <li><a class="nav-link" href={{ url_for('crud.search') }}>Search</a></li>#}
    {#                </ul>#}
    {#            </li>#}
    {#        </ul>#}
    {#    </div>#}

</nav>
