<!-- Navigation Bar from bootstrap
This HTML is setup as a fragment allowing it to be "included" by other HTML files via Jinja2
-->
<style>
    a.nav-link {
        background-color: rgba(255, 0, 0, 0.0);
        transition: border-bottom 0.5s;
        color: #000000 !important;
        font-family:Courier;
        margin: 0 5px;
        position: relative;
    }
    .nav-border {
        position: absolute;
        left: 0%;
        right: 0;
        border-bottom: 2px solid transparent;
    }
    .nav-link:hover .nav-border {
        animation-name: border-move;
        animation-duration: 0.8s;
        border-bottom: 2px solid #64483f;
    }
    @keyframes border-move {
        0% {
            right: 100%;
            left: 100%;
        }
        100% {
            right: 0%;
            left: 0%;
        }
    }
    nav {
        background-image: linear-gradient(to right, #fed2b9, #fed2b9);
    }
    .dropdown {
        margin-right: 5px;
    }
    .dropdown-menu {
        background-color: #fed2b9
    }
    .dropdown-menu a:hover {
        background-color: #8e6f64;
    }
     #first{
        margin-left:5px;
    }

</style>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">{{basename}} <div class="nav-border"></div></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <!-- url_for is a Jinja2 pre-processor that finds route from function name (def) -->

            <ul class="navbar-nav mr-auto">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarStarters" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        About Us
                        <div class="nav-border"></div>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/evan/">Evan</a>
                        <a class="dropdown-item" href="/leah/">Leah</a>
                        <a class="dropdown-item" href="/simon/">Simon</a>
                        <a class="dropdown-item" href="/sanjay/">Sanjay</a>
                </li>
            </ul>

            <a class="nav-link" href={{ url_for('index') }}>Portfolio <div class="nav-border"></div></a>
            <a class="nav-link" href="/flashcards/">Flash Cards <div class="nav-border"></div></a>
        </div>
    </div>
</nav>


