{% extends "layouts/base.html" %}
<!-- Custom block for standardizing Project Data-->
{% block body %}
    <div class="row">
        <div class="col-3">
            <a href="{{ aboutdaniel }}" class="btn">Daniel</a>
        </div>

        <div class="col-3">
            <a href="{{ aboutnathan }}" class="btn">Nathan</a>
        </div>

        <div class="col-3">
            <a href="{{ aboutreem }}" class="btn">Reem</a>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <a href="{{ aboutjames }}" class="btn">James</a>
        </div>

        <div class="col-6">
            <a href="{{ aboutjacob }}" class="btn">Jacob</a>
        </div>
    </div>
{% endblock %}

</html>