<!DOCTYPE html>
<html lang="en">

{% extends "Layouts/base.html" %}

{% block body %}
    <head>
    <title>World Instruments</title>
    </head>
    <body>
    <div class = "container">
        <h1>African Djembe Drums</h1>
        <audio id="djembe" src="/static/assets/Djembe African drums.m4a" autoplay="false" ></audio>
        <img src="/static/assets/djembe.jpg" width="170" height="200" id="djembe" onclick="playDrum()" >

    </div>

    <div class = "container">
        <h1>Sitar</h1>
        <audio id="sitar" src="/static/assets/Sitar.m4a" autoplay="false" ></audio>
        <img src="/static/assets/sitar.jpeg" width="170" height="200" id="sitar" onclick="playSitar()" >

    </div>

    <div class = "container">
        <h1>Bagpipes</h1>
        <audio id="bagpipe" src="/static/assets/Bagpipes.m4a" autoplay="false" ></audio>
        <img src="/static/assets/bagpipes.jpeg" width="170" height="200" id="bagpipe" onclick="playBagpipe()" >

    </div>



    </body>
<script>

    function playDrum() {
        var sound = document.getElementById("djembe");
        sound.play();
    }

    function playSitar() {
        var sound = document.getElementById("sitar");
        sound.play();
    }

    function playBagpipe() {
        var sound = document.getElementById("bagpipe");
        sound.play();
    }

</script>


{% endblock %}

</body>
</html>