<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Notes" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}


<br>
    <table >
        <tr>
            <td style="padding-top: 50px;">
                <a href='http://www.volkeeurohistory.com/lecture-notes.html'><button id="apec" class="btn">APEC notes</button></a>
            </td>
            <td style="padding-top: 50px;">
                <a href='https://apnotes.net/ap-16e.html'><button id="history" class="btn">APUSH notes</button></a>
            </td>
            <td style="padding-top: 50px;">
                <button id="bio" class="btn" onclick="location.href='https://www.lee.k12.al.us/site/handlers/filedownload.ashx?moduleinstanceid=10681&dataid=14889&FileName=AP%20Biology%20Combined%20Notes%202021.pdf';">AP Bio notes</button>
            </td>

        </tr>
        <tr>
            <td style="padding-top: 50px;">
                <button id="calc" class="btn" onclick="location.href='https://arborview.enschool.org/ourpages/auto/2018/8/10/50419544/AP%20Calculus%20AB%20Notes.pdf';">AP Calc AB notes</button>
            </td>
            <td style="padding-top: 50px;">
                <a href='https://blog.prepscholar.com/ap-chemistry-notes'><button id="chemistry"   class="btn">AP Chem notes</button></a>
            </td>
            <td style="padding-top: 50px;">
                <button  id="csp" class="btn" onclick="location.href='https://1.cdn.edl.io/OfjStocj8Y1KTz9KqamsFIajcovZigo8gOlPdChUQtDnW9Lu.pdf';">AP CSP notes</button>
            </td>
        </tr>
        <tr>
            <td>

            </td>
            <td style="padding-top: 50px;">
                <button id="stats" class="btn" onclick="location.href='http://www.mathguy.us/Handbooks/StatisticsHandbook.pdf';">AP Stats notes</button>
            </td>
        </tr>
    </table>

    <script>

    </script>


    <style>
        p {
            margin-left: 250px;
        }
        img {
            margin-left: 250px;
            width: 207px;
            height: 368px;
        }
        button {
            margin-left: 250px;
        }
        table {
            margin-left: 20px;
        }
    </style>

<br>
<br>

<h2 class="camp" style="position: relative;
    left: 52%;
    font-size: 250px;color: #16100F "> Study </h2>

<style>

    @keyframes camp {
        from {Opacity:0%}
        to {Opacity:100%}
    }

    .camp:hover{
    position:relative;left: 52%;
        font-size: 250px;color:#16100F;
        opacity: 100%;
        animation-name: camp;
    }

    .camp{
       opacity: 0%;
    }


</style>






{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}