<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>dark test</title>

    <link rel="stylesheet"  type="text/css"  href="templates/layouts/dark.scss" />
</head>

<body>

<div class="container">
    <h1> Light / Dark Mode</h1>
    <div class="toggle-container">
       <input type="checkbox" id="switch" name="theme" /><label for="switch">Toggle</label>
    </div>

<p>Words are here, and they say things that mean things, and stuff that you really will appreciate reading</p>
</div>



</body>
</html>