<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Vunsh" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
<!- Try building a new body here ->
<br>
<br>
<br>


<br>

<div id = main-text"></div>
<p id="intro"> Hey there! My name is vunsh :)
<p id="info"> I am a 16 year old Junior at DNHS who loves to code, video edit, play video games, eat, sleep, watch tv, and much much more.</p>
<br>
<p id="buttonInfo">To find out more about me, click the button below to access a random song from my favorite playlist! </p>
<button id="music-button" onclick="updateSong()">Choose a Song</button>
<br>
<iframe src=https://open.spotify.com/embed/track/3DK6m7It6Pw857FcQftMds?utm_source=generator&theme=0" width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" id="songFrame"></iframe>

<script>
    const button = document.getElementById("music-button");
  const frame = document.getElementById("songFrame");
  const choices = [ "<iframe src="https://open.spotify.com/embed/track/3yk7PJnryiJ8mAPqsrujzf?utm_source=generator&theme=0" width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>",
                    "<iframe src="https://open.spotify.com/embed/track/1s9DTymg5UQrdorZf43JQm?utm_source=generator" width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>",
                    "<iframe src="https://open.spotify.com/embed/track/3cWmqvMwVQKDigWLSZ3w9h?utm_source=generator&theme=0" width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>",
                    "<iframe src="https://open.spotify.com/embed/track/5hVghJ4KaYES3BFUATCYn0?utm_source=generator&theme=0" width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>",
                    "<iframe src="https://open.spotify.com/embed/track/5B0kgjHULYJhAQkK5XsMoC?utm_source=generator&theme=0" width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>",
                    "<iframe src="https://open.spotify.com/embed/track/5TxRUOsGeWeRl3xOML59Ai?utm_source=generator&theme=0" width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>",
                    "<iframe src="https://open.spotify.com/embed/track/4EWBhKf1fOFnyMtUzACXEc?utm_source=generator" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>"
                    ]

function updateSong() {
    alert('e')
    const songChoice = choices[Math.floor(Math.random() * choices.length)]
    frame.innerHtml(songChoice)
    alert('lol')

}
button.addEventListener("click", alert('e'));

</script>

<style>
        #songFrame{
        margin-top: 2%;
        text-align: center;
        width:50%;
        }
        #intro{
         text-align:center;
        font-family: 'Raleway', sans-serif;
        font-size: 80px;
        }
        #info{
         text-align:center;
        font-family: 'Raleway', sans-serif;
        margin-top: 2%;
        font-size: 25px;
        }
        #buttonInfo{
         text-align:center;
        font-family: 'Raleway', sans-serif;
        margin-top: 2%;
        font-size: 25px;
        }
        p {
            margin-left: 250px;
        }
        img {
            margin-left: 250px;
            width: 207px;
            height: 368px;
        }
        button {
            margin-left: 250px;
        }
    </style>
{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}