<!DOCTYPE html>
<html lang="en">
{%  extends "layouts/base.html" %}
{%  set project = "Jacob" %}
<head>
    <meta charset="UTF-8">
    <title>Jacob Adam Rozenkrants</title>
</head>
{%  block body %}
    <body>
    <div class="row">
    <div class="col-sm">
        <h1>Reem</h1>
        <img src="/static/assets/nathan2.jpg" width="50%"  id="Jacobimg" onclick="JacobImg()" >
    </div>
    <div class="col-sm">
        <h1>API</h1>
    </div>
    </div>
    <script>
        var JacobVar = 0;
        function ReemImg () {
            const element = document.getElementById("Jacobimg");
            if (ReemVar == 0) {
                element.src = "/static/assets/Jacob1.jpg";
                ReemVar = 1
            }
            else {
                element.src = "/static/assets/Jacob2.jpg";
                ReemVar = 0;
            }
        }
    </script>
    </body>
{% endblock %}
</html>
