<!DOCTYPE html>
<html lang="en">
{%  extends "layouts/base.html" %}
{%  set project = "Daniel" %}
head>
    <meta charset="UTF-8">
    <title>Daniel</title>
</head>
{%  block body %}
    <body>
    <div class="row">
        <div class="col-sm">
            <h1>Daniel</h1>
            <img src="/static/assets/daniel2.jpg" width="50%"  id="danielimg" onclick="danielImg()" >
        </div>
        <div class="col-sm">
            <h1>API</h1>
        </div>
        <script>
            var danielVar = 0;
            function danielImg () {
                const element = document.getElementById("danielimg");
                if (danielVar == 0) {
                    element.src = "/static/assets/daniel.png";
                    danielVar = 1
                }
                else {
                    element.src = "/static/assets/daniel2.jpg";
                    danielVar = 0;
                }
            }
        </script>
    </div>
    </body>
{% endblock %}
</html>









