<!DOCTYPE html>
<html lang="en">
{%  extends "layouts/base.html" %}
{%  set project = "Reem" %}
<head>
    <meta charset="UTF-8">
    <title>Reem</title>
    {% block background %}
        <style>
            html, body{
                background-color: lightseagreen;
            }
        </style>
    {% endblock %}
</head>
{%  block body %}
    <body>
    <div class="row">
        <div class="col-sm">
            <h1>Reem</h1>
            <img src="/static/assets/reemyes.jpg" width="50%"  id="reemimg" onclick="reemImg()" >
        </div>
        <div class="col-sm">
            <h1>API</h1>
            <p>Name:</p>
            <div id="name"></div>
            <br>
            <p>Fire Type:</p>
            <div id="damage"></div>
            <br>
            <p>Cost:</p>
            <div id="cost"></div>
            <br>
            <h1>Links</h1>
            <a href="https://docs.google.com/document/d/1243B2mbRGslTk-0YRXKdKykfs6fAU5pK1LFUyJQ83vM/edit">Create Task Planning</a>
            <br>
            <a href="https://docs.google.com/document/d/12rQvrhtsNnlDFDhkCI9sT8w7fTD3y-4FW6W8LPLuf9w/edit">Journal</a>

            <script>
                async function getcovid() {
                    const response = await fetch("https://valorant-weapons.p.rapidapi.com/Sidearms", {
                        "method": "GET",
                        "headers": {
                            'x-rapidapi-host': 'valorant-weapons.p.rapidapi.com',
                            'x-rapidapi-key': 'a2517cf9bdmshb3cb60d57e2fe79p1f907fjsna7217b3dedc7'
                        }
                    })
                    console.log(response);
                    const covidarr = await response.json();
                    alert(covidarr);
                    const covidstats = covidarr["weapons"][0];
                    document.getElementById("damage").textContent = covidstats["fire_type"];
                    document.getElementById("name").textContent = covidstats["name"];
                    document.getElementById("cost").textContent = covidstats["cost"];
                }
                getcovid();
            </script>
        </div>
        <script>
            var reemVar = 0;
            function reemImg () {
                const element = document.getElementById("reemimg");
                if (reemVar == 0) {
                    element.src = "/static/assets/reemno.jpg";
                    reemVar = 1
                }
                else {
                    element.src = "/static/assets/reemyes.jpg";
                    reemVar = 0;
                }
            }
        </script>
    </div>
    </body>
{% endblock %}
</html>