<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Adi" %}

<!- This is a replacement block for Body in base.html -->
{% block head %}
<head>
    <script>
        imagenumber=0;
        function toggle() {
            const images = ["winnin.jpg",
                "https://www.powayusd.com/PUSD/media/DNHS/images/slider/Hi-Res-School-Photo-min.jpg?ext=.jpg"
            ];
            if (imagenumber == 0) {
                document.getElementById("image").src = images[0]
                imagenumber = 1;
            } else if (imagenumber == 1) {
                document.getElementById("image").src = images[1]
                imagenumber = 0;
            }
        }
    </script>


</head>
{% endblock %}

{% block body %}

    <body style="background-color:powderblue;">
    <h1 style="text-align: center; color: midnightblue">
        Adi Khandelwal Home Page
    </h1>

    <div>
    <p style="text-align: center; color: black">Click to toggle images</p>
    <br>
    <div class="container; center-block">
        <img src="https://www.powayusd.com/PUSD/media/DNHS/images/slider/Hi-Res-School-Photo-min.jpg?ext=.jpg" id="image" width="800" height="300" onclick="toggle()" >
    </div>
  </div>
    <p align="center">
<!--        <iframe-->
<!--                width="1000"-->
<!--                height="600"-->
<!--                src="https://docs.google.com/document/d/1caGFdefkHrh74c3f_iuIx26mDD3QnP0FDM9cpS8BYFM/edit?usp=sharing"-->
<!--        ></iframe>-->
    </p>

{% endblock %}



