<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Adi is so Cool" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <script>
        imagenumber=0;
        function toggle() {
            const images = ["/static/winnin.jpg",
                "/static/wideeyes.jpg",
                "/static/rohanbrownbeanie.jpg",
                "/static/IMG_887CE03AB9F7-1.jpeg"
            ];
            if (imagenumber == 0) {
                document.getElementById("image").src = images[0]
                imagenumber = 1;
            } else if (imagenumber == 1) {
                document.getElementById("image").src = images[1]
                imagenumber = 2;
            } else if (imagenumber == 2) {
                document.getElementById("image").src = images[2]
                imagenumber = 3;
            } else if (imagenumber == 3) {
                document.getElementById("image").src = images[3]
                imagenumber = 0;
            }
        }
    </script>

<!--    <body style="background-color:powderblue;">-->

    <h1 style="text-align: center; color: midnightblue">
        Adi Khandelwal Home Page
    </h1>

    <p style="text-align: center; color: black">Click to toggle images</p>
    <br>
        <img id="image" src="/static/winnin.jpg" onclick="toggle()" width="1500" height="550">
<br>
<br>
<br>
    <p align="center">
<!--        <iframe-->
<!--                width="1000"-->
<!--                height="600"-->
<!--                src="https://docs.google.com/document/d/1caGFdefkHrh74c3f_iuIx26mDD3QnP0FDM9cpS8BYFM/edit?usp=sharing"-->
<!--        ></iframe>-->
    </p>

{% endblock %}



