<!-- Extending the project layout, as this file will do minor customizations -->
{% extends "layouts/project.html" %}

<!-- Setting up variables to customize "project" details to be specific to kangaroos -->
{% set project = "NorthAmerica" %}

{% block body %}

    <html>
    <head>
        <style>
            body {
                background-image: url("https://media.cntraveler.com/photos/58a5d89287666e798dbdb573/master/pass/antarctica-scotia-sea-chinstrap-penguins-GettyImages-126249208.jpg");
            }

            h1 {
                color: white;
                text-align: center;
                font-size: xxx-large;
            }


        </style>
    </head>
    <body>

    <h1>Antarctica</h1>

    </body>
    </html>


{% endblock %}
<!-- Setting up a block replacement to customize background to RINGS -->
{% block background %}

{% endblock %}