<
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        body {
            position: relative;
        }
        #section1 {padding-top:50px;height:800px;color: #000000; background-color: #1E88E5; background-image: url("https://wallpaperaccess.com/full/447143.jpg");
        }

        h1 {
            color: black;
            text-align: center;
            font-size: xxx-large;}
        #section2 {padding-top:50px;height:800px;color: #000000; background-color: #E6E6FA;}
        #section3 {padding-top:50px;height:800px;color: #000000; background-color: #E6E6FA;}
        #section4 {padding-top:50px;height:800px;color: #000000; background-color: #E6E6FA;}
        #section5 {padding-top:50px;height:800px;color: #000000; background-color: #E6E6FA;}

    </style>
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50">

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">

            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="http://127.0.0.1:5000/">All Around The World</a>
        </div>
        <div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <blockquote></blockquote>
                    <li><a href="#section1">Welcome to Asia!</a></li>
                    <li><a href="#section2">Notable Locations</a></li>
                    <li><a href="#section3">Cuisine and Community</a></li>
                    <li><a href="#section4">Accommodations</a></li>
                    <li><a href="#section5">Read:</a></li>


                </ul>
                </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<div id="section1" class="container-fluid">


    <blockquote></blockquote>
    <blockquote></blockquote>
    <h1>Welcome to Asia!</h1>



    <style>
        body {
        h1 {
            color: black;
            text-align: center;
            font-size: x-small;}
    </style>
</div>
<div id="section2" class="container-fluid">
    <h1>Notable Locations</h1>
    What are some notable locations in Asia? Well, given that there are so many countries, here is a brief rundown.
    <h3><p class="text-left">
        Mount Fuji: It is an active stratovolcano but it has not erupted since 1708. It is one of Japan's 3 Holy
        Mountains
        Dead Sea: The waters touch the borders of both Jordan and Israel. It is so thick, nothing can sink into
        it, and everyone who walks into it will naturally floa
        Phuket: It has some of the best beaches in the country. Beautiful coral reefs line up the coastline,
        offering amazing opportunities for snorkeling and diving but also sea kayaking and island hopping.

        <blockquote>
            <body>

            <img id="myImage" onclick="changeImage()" src="/static/assets/saumyaimages/beach.png"" width="100" height="180">


            <script>
                function changeImage() {
                    var image = document.getElementById('myImage');
                    if (image.src.match("/static/assets/saumyaimages/beach.png")) {
                        image.src = "/static/assets/saumyaimages/city.png";
                    } else {
                        image.src = "/static/assets/saumyaimages/beach.png";
                    }
                }
            </script>
            </body>
</html>
<blockquote>
    Beijing: It is one of the most populous cities in the world. It also has the eight-sided Tianning Temple,
    as well as almost 150 museums and galleries.
    Hoi An: It was a major commercial stop for trading ships as far back as the 15th century. Hoi An still
    maintains much of its original architecture
    Hong Kong: It is the third most densely populated place in the world. For the best views, visitors can
    climb to the top of Victoria Peak
    Singapore: This brand-new country is now a financial powerhouse and one of the most fun countries to
    visit in Southeast Asia.
    Kathmandu: It is home to holy monkeys and one of the oldest temples in Nepal. It is also a popular gateway
    to the Himalayas and to nearby destinations like the Ancient City of Patan.
    Jaipur: Known as the "pink city" because of the unique color of the stone used to build many of the
    structures around, Jaipur is also home to a community of artisans.
    </h3></p>

    <blockquote>


        <div id="section3" class="container-fluid">
            <h1>Cuisine and Community </h1>
            <h2>Listed below are some great websites for popular cuisine: </h2>
            <a href="https://hungryoungwoman.com/food-cities-in-asia-for-the-ultimate-foodie/" >
                <div class="vertical-center">
                    <button>Ultimate Foodie Places in Asia</button>
                </div>
                <a href="https://www.thetravelteam.com/7-of-the-best-food-cities-in-asia/" >
                    <div class="vertical-center">
                        <button>Best Food Cities in Asia!</button>
                    </div>
                    <a href="https://www.hotels.com/go/asia/best-street-food-cities-asia" >
                        <div class="vertical-center">
                            <button>Best Street Food in Asia!</button>
                        </div>
                        <a href="https://nomadcapitalist.com/global-citizen/top-5-best-cities-asia-food-foodies/" >
                            <div class="vertical-center">
                                <button> Top Cities in Asia for Food </button>
                            </div>
                            <a href="https://www.stuff.co.nz/travel/experiences/food-and-wine-holidays/101875996/the-top-10-countries-for-asian-food" >
                                <div class="vertical-center">
                                    <button>Top 10 Countries for Asian Food!</button>
                                    <div>

                                    <div id="section4" class="container-fluid">
                                        <a href="#section4" >
                                            <div class="vertical-center">
                                                <button>                  </button>
                                            </div>
                                            <h1>Accommodations</h1>
                                            <h3>Below are some great websites to research for living accommodations across the Asian continent!</h3>
                                            <blockquote></blockquote>
                                            <a href="https://www.trafalgar.com/real-word/unique-places-to-stay-asia/" >
                                                <div class="vertical-center">
                                                    <button>Unique Places in Asia!</button>
                                                </div>
                                                <a href="https://www.travelandleisure.com/worlds-best/resort-hotels-in-asia" >
                                                    <div class="vertical-center">
                                                        <button>Resorts in Asia</button>
                                                    </div>
                                                    <a href="http://www.oneworld365.org/blog/best-unusual-unique-hotels-in-asia" >
                                                        <div class="vertical-center">
                                                            <button>Unusual and Unique Hotels in Asia</button>
                                                        </div>
                                                        <a href="https://travel.usnews.com/rankings/best-asian-vacations/" >
                                                            <div class="vertical-center">
                                                                <button>Best Asian Vacations</button>
                                                            </div>
                                                            <a href="https://www.tripadvisor.com/Hotels-g2554387-Asia_Lima_Region-Hotels.html" >
                                                                <div class="vertical-center">
                                                                    <button>Best Hotels to Stay in Asia</button>
                                                                </div>

                                            <div id="section5" class="container-fluid">
                                                <h1>Read More:</h1>
                                                <h3>Want to learn moore about Asian heritage and history? Go to many historical sites.</h3>
                                                <a href="https://asianpacificheritage.gov" >
                                                    <div class="vertical-center">
                                                        <button>Asian Pacific Heritage</button>
                                                    </div>
                                                    <a href="https://www.cnet.com/how-to/aapi-heritage-month-what-it-is-and-what-you-can-do-today/" >
                                                        <div class="vertical-center">
                                                            <button>Learn More About Heritage</button>
                                                        </div>
                                                        <a href="https://orparenting.org/2021/05/07/learning-with-your-family-asian-american-and-pacific-islander-heritage-month//" >
                                                            <div class="vertical-center">
                                                                <button>Asian Landmarks</button>
                                                            </div>
                                                            <a href="https://blooloop.com/museum/in-depth/most-visited-museums-asia/" >
                                                                <div class="vertical-center">
                                                                    <button>Most Visited Museums in Asia</button>
                                                                </div>
                                            </div>

                                    </div>
                                    </body>
                                    </html>
