
<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

{% set project = "Brian" %}

{% block body %}
    <!- Try building a new body here ->
<style>
    html {background-color:cornflowerblue;}
</style>
    <h1><center>Brian Tang Home Page</center></h1>
    <body style="background-color:cornflowerblue;">
    <p>
        <button onclick="MaskOnOff()" class="center">Mask On/Off</button>
        <style>
            .center {
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
        </style>
        </p>
    <div>
        <img id="MaskOn" src="../static/IMG_19F786F8D399-1.jpeg" style="max-height: 500px;" class="center">
        <style>
            .center {
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
        </style>
    </div>
    <h1><center>Check out some tennis news!</center></h1>
    <div id="TennisRankings">
        The {{tournaments[0].name}} tournament was played in the city of {{tournaments[0].city}} in the country of {{tournaments[0].country}}. The {{tournaments[0].name}} started on {{tournaments[0].start_date}} and ended on {{tournaments[0].end_date}} and was a part of the {{tournaments[0].season}} season. This tournament was a part of the {{tournaments[0].code}} tour and was played on {{tournaments[0].surface}} surface.
    </div>
    <div id="TennisRankings">
        The {{tournaments[1].name}} tournament was played in the city of {{tournaments[1].city}} in {{tournaments[1].country}}. The {{tournaments[1].name}} started on {{tournaments[1].start_date}} and ended on {{tournaments[1].end_date}} and was a part of the {{tournaments[1].season}} season. This tournament was a part of the {{tournaments[1].code}} tour and was played on {{tournaments[1].surface}} surface.
    </div>
    <h1><center>Journal</center></h1>
    <iframe class="center"
            width="1000"
            height="500"
            src="https://docs.google.com/document/d/1v4dmPa2CQaX8GSf0YmcSUG9yk1GqDXRRTICu1DzH1yA/edit?usp=sharing">
        <style>
            .center {
                display: block;
                margin-left: auto;
                margin-right: auto;}
        </style>
    </iframe>
    </p>

<script>
    function MaskOnOff(){
        if (document.getElementById("MaskOn").src=="http://127.0.0.1:5000/static/IMG_19F786F8D399-1.jpeg") {
            document.getElementById("MaskOn").src = "../static/IMG_887CE03AB9F7-1.jpeg";
        }
        else document.getElementById("MaskOn").src = "http://127.0.0.1:5000/static/IMG_19F786F8D399-1.jpeg"
    }
</script>

{% endblock %}
{% block background %}
{% endblock %}
