<!DOCTYPE html>
{% extends "layouts/base.html" %}

{% block head %}
    <html lang="en">
    <head>
        <title>Cat Adoption</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/static/assets/scss/Scss.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cutive Mono">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Robot Condensed">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
        </head>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>

        <style>
            .fakeimg {
                height: 200px;
                background: #aaa;
            }
        </style>
    </head>
{%endblock%}
{% block body %}
    <body>
    <div id="google_translate_element"></div>

    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement(
                {pageLanguage: 'en'},
                'google_translate_element'
            );
        }
    </script>

    <script type="text/javascript" src=
            "https://translate.google.com/translate_a/element.js?
        cb=googleTranslateElementInit">
    </script>
    <button onclick="googleTranslateElementInit();">Translate this page to a language of your choosing!</button>
    <div class="p-5 bg-primary text-white text-center">
        <h1>Cat Adoption Information Page</h1>
    </div>

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="container-fluid">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" href="https://www.humanesociety.org/resources/top-reasons-adopt-pet">Why Pet Adoption?</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="https://akitarescue.rescuegroups.org/info/display?PageID=3247#:~:text=If%20your%20dog%20doesn't,execution%2C%20though%20not%20for%20long.">What Happens To Rescued Pets?</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="https://www.animalfriends.co.uk/dog/dog-blog/10-benefits-of-owning-a-pet/">Benefits of Owning a Pet</a>
                </li>
            </ul>
        </div>
    </nav>
    <h2>Cat Adoption Information</h2>
    <p>Cats are very easy to take care of. You make sure you keep them healthy, and they exist in your home. What's not to like? The most effort they require is cleaning the litter box but compared to many other animals that is far less effort. Cats don't need that much attention too.</p>
    <div class="container mt-3">
        <h2>Cat Adoption Table</h2>
        <table class="table table-dark table-hover">
            <thead>
            <tr>
                <th>Type of Cats</th>
                <th>Popularity</th>
                <th>Link to Adopt</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Russian Blue</td>
                <td>Makes a good pet</td>
                <td><a href="https://www.petfinder.com/cat-breeds/russian-blue/">Russian Blue Adoption</a></td>
            </tr>
            <tr>
                <td>Siamese </td>
                <td>Very Recognizable!</td>
                <td><a href="https://www.petfinder.com/cat-breeds/siamese/">Siamese Adoption</a></td>
            </tr>
            <tr>
                <td>Sphynx</td>
                <td>Little to No Hair!</td>
                <td><a href="https://www.petfinder.com/cat-breeds/sphynx/">Sphynx Adoption</a></td>
            </tr>
            <tr>
                <td>Maine Coon</td>
                <td>Very Fluffy</td>
                <td><a href="https://www.petfinder.com/cat-breeds/maine-coon/">Maine Coon Adoption</a></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="mt-5 p-4 bg-dark text-white text-center">
        <p>Created By Chase: Team Food</p>
    </div>

    </body>
{% endblock %}
</html>
