<!DOCTYPE html>
{% extends "layouts/base.html" %}
{% set project = "Color Codes" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Color Codes</title>
</head>
{% block body %}
<div class="col-8">
    <table class="table">
        <th>
            R Value
        </th>
        <tr>
            <td>
                <button type="button" id="" onclick="">0</button>
                <button type="button" id="" onclick="">0</button>
                <button type="button" id="" onclick="">0</button>
                <button type="button" id="" onclick="">0</button>
                <button type="button" id="" onclick="">0</button>
                <button type="button" id="" onclick="">0</button>
                <button type="button" id="" onclick="">0</button>
                <button type="button" id="" onclick="">0</button>
            </td>
        </tr>
        <table class="table">
            <th>
                G Value
            </th>
            <tr>
                <td>
                    <button type="button" id="" onclick="">0</button>
                    <button type="button" id="" onclick="">0</button>
                    <button type="button" id="" onclick="">0</button>
                    <button type="button" id="" onclick="">0</button>
                    <button type="button" id="" onclick="">0</button>
                    <button type="button" id="" onclick="">0</button>
                    <button type="button" id="" onclick="">0</button>
                    <button type="button" id="" onclick="">0</button>
                </td>
            </tr>
        </table>
        <table class="table">
            <th>
                B Value
            </th>
            <tr>
                <td>
                    <button type="button" id="" onclick="">0</button>
                    <button type="button" id="" onclick="">0</button>
                    <button type="button" id="" onclick="">0</button>
                    <button type="button" id="" onclick="">0</button>
                    <button type="button" id="" onclick="">0</button>
                    <button type="button" id="" onclick="">0</button>
                    <button type="button" id="" onclick="">0</button>
                    <button type="button" id="" onclick="">0</button>
                </td>
            </tr>
        </table>

</div>
{% endblock %}
</html>