<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>comments</title>
</head>
<body>
<div class="center-block" style="margin: 2% 5% 5%; text-align:left; font-family: gilroy,serif;">
    <div class="col-0">
        <form action="/greet" id="greet" method="POST" >
            <label for="comment" style="font-size:30px; text-align:left; font-family: gilroy,serif;">Whats your name?</label>
            <input name="comment" id="comment">
            <input type="submit" value="Greetings!">
        </form>
    </div>
    <p style="font-size:30px">Comments: {{name}}!</p>

</body>
</html>