<!DOCTYPE html>
{% extends "layouts/base.html" %}
{%block head %}
<head>
    <meta charset="UTF-8">
    <title>Connor</title>
</head>
<script>
    function mask() {
        document.getElementById('place')
        .src="/static/assets/connormask.jpg";
    }
    function nomask() {
        document.getElementById('place')
        .src="/static/assets/nomaskconnor.jpg";
    }
</script>
    <style>
        * {
            box-sizing: border-box;
        }

        .image {
            padding: 50px;
            text-align: center;
            background-color:forestgreen;
        }
    </style>
{%endblock%}
{% block body %}

<h1 class="image">Connor Home Page</h1>
<div class="image">
    <div class="row justify-content-md-center">
        <table class="table">
            <thead>
            <tr>
                <th>Connor</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <img id="place" class="img-responsive py-3" alt="" width="400" src="/static/assets/connormask.jpg" >
                    <div>
                        <button onclick="mask()">Mask</button>
                        <button onclick="nomask()">No Mask</button>
                        <p style="text-align:center" class="fs-2">
                            <a href="https://docs.google.com/document/d/1yMnRk0cY8TWYl3YKTgz0OKkrI5Gac4pEyoyiffEeUoE/edit?usp=sharing"> Journal </a>
                        </p>
                </td>
            </tr>
            </tr>
            </tbody>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
</html>
