<!DOCTYPE html>
{% extends "layouts/base.html" %}

{% block body %}
{% set data = stats.data %}

    <head>
        <style>
            body, html {
                background-color: rosybrown;
            }
        </style>
    </head>
    <div class="center-block" style="margin: 2% 5% 5%; font-family: gilroy,serif;">
        <!-- Title -->
        <div class="col-12" style="text-align: center;">
            <h1><strong>Flight RESTapi from rapidapi.com</strong></h1>
            <form action={{url_for('flightdata')}}>
                <button>Refresh!</button>
            </form>
        </div>

        <div class="col-12">
            {#            <p>Hello, {{places}}!</p>#}
        </div>
{#        <div class="col-12">#}
{#            <p>Hello, {{name}}!</p>#}
{#        </div>#}
{##}
{#        <div class="col-12">#}
{#            <form action="/flightapi" id="greet" method="POST" >#}
{#                <label for="name">Type a greeting name?</label>#}
{#                <input name="name" id="name">#}
{#                <input type="submit" value="Greetings!">#}
{#            </form>#}
{#        </div>#}

        {#        <p>{{ stats.Places }}</p>#}
        <!-- Sequence -->
        <div class="col-12" style="text-align: left; ">
            <table style="margin: 2%">
                <table style="width:100%;">
                {% for properties in data %}

                    <tr>
                        <td> {{properties.rh}} </td>
                        <td> {{properties.pod}} </td>
                        <td> {{properties.lon}} </td>
                        <td> {{properties.timezone}} </td>
                        <td> {{properties.ob_time}} </td>
                        <td> {{properties.country_code}} </td>
                        <td> {{properties.clouds}} </td>
                        <td> {{properties.solar_rad}} </td>
                        <td> {{properties.state_code}} </td>
                        <td> {{properties.city_name}} </td>
                        <td> {{properties.wind_spd}} </td>
                        <td> {{properties.wind_cdir_full}} </td>
                        <td> {{properties.wind_cdir}} </td>
                        <td> {{properties.slp}} </td>
                        <td> {{properties.vis}} </td>
                        <td> {{properties.h_angle}} </td>
                        <td> {{properties.sunset}} </td>
                        <td> {{properties.dni}} </td>
                        <td> {{properties.dewpt}} </td>
                        <td> {{properties.snow}} </td>
                        <td> {{properties.precip}} </td>
                        <td> {{properties.wind_dir}} </td>
                        <td> {{properties.sunrise}} </td>
                        <td> {{properties.ghi}} </td>
                        <td> {{properties.dhi}} </td>
                        <td> {{properties.lat}} </td>
                        <td> {{properties.weather}} </td>
                        <td> {{properties.wind_icon}} </td>
                        <td> {{properties.code}} </td>
                        <td> {{properties.description}} </td>
                        <td> {{properties.datetime}} </td>
                        <td> {{properties.temp}} </td>
                        <td> {{properties.station}} </td>
                        <td> {{properties.elev_angle}} </td>
                        <td> {{properties.app_temp}} </td>
                        <td> {{properties.count}} </td>
                    </tr>
                {% endfor %}
            </table>
        </div>

    </div>
    <style>
        table, td, th {
        {#border: 1px solid var(--dblue);#}
        }
        td, th {
            text-align:left;
        }
    </style>
    </div>

{% endblock %}