{% include "layouts/navbar.html" %}
<!DOCTYPE html>
</html lang="en">
</head>
    <meta charset="UTF-8">
    <title>Fortnite</title>
        <head>
            <style>
</style>
            <style>
body {
 background-image: url("/static/assets/Fortnite/fortnite_background.jpg");
}
</style>

    <style>

    .hoverwrap {
      position: relative;
      max-width: 500px;
    }


    .hoverwrap img { width: 65%; }

    .hovercap {

      box-sizing: border-box;
      width: 65%;
      padding: 10px;

      position: absolute;
      bottom: 0;
      /* (C3) COLORS */
      background-color: rgba(0, 0, 0, 0.5);
      color: white;
    }
    .hovercap {
      visibility: none;
      opacity: 0;
      transition: opacity 0.4s;
    }
    .hoverwrap:hover .hovercap {
      visibility: visible;
      opacity: 1;
    }
</style>
</head>


<img src="https://www.pngarts.com/files/10/Fortnite-Logo-PNG-Image-Transparent.png" style = "width: 50%; height: 100%;" class="center">
<style>
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
</style>


    <button onclick="scrollWin()" style="position:fixed">Pickaxe</button><br><br>
    <script>
function scrollWin() {
  window.scrollTo(0, 1000);
}
</script>

<table>
    <tr>
        <td><div class="hoverwrap">
            <img src="/static/assets/Fortnite/black-knight-icon.png"/>
            <div class="hovercap">Black Knight Release Date</div></div></td>
        <td><div class="hoverwrap">
            <img src="/static/assets/Fortnite/blue-squire-icon.png"/>
            <div class="hovercap">Blue Squire</div> </div></td>
        <td><div class="hoverwrap">
            <img src="/static/assets/Fortnite/sparkle-specialist-icon.png"/>
            <div class="hovercap">Sparkle Specialist</div> </div></td>
        <td><div class="hoverwrap">
            <img src="/static/assets/Fortnite/dark-voyager-icon.png"/>
            <div class="hovercap">Dark Voyager</div> </div></td>
        <td><div class="hoverwrap">
            <img src="/static/assets/Fortnite/elite-agent-icon.png"/>
            <div class="hovercap">Elite Agent</div> </div></td>
    </tr>
    <tr>
        <td><div class="hoverwrap">
            <img src="/static/assets/Fortnite/mission-specialist-icon.png"/>
            <div class="hovercap">Mission Specialist</div> </div></td>
        <td><div class="hoverwrap">
            <img src="/static/assets/Fortnite/moonwalker-icon.png"/>
            <div class="hovercap">Moonwalker</div> </div></td>
        <td><div class="hoverwrap">
            <img src="/static/assets/Fortnite/rust-lord-icon.png"/>
            <div class="hovercap">Rust Lord</div> </div></td>
        <td><div class="hoverwrap">
            <img src="/static/assets/Fortnite/the-reaper-icon.png"/>
            <div class="hovercap">The Reaper</div> </div></td>
        <td><div class="hoverwrap">
            <img src="/static/assets/Fortnite/aerial-assault-trooper-icon.png"/>
            <div class="hovercap">Aerial Assault Trooper</div> </div></td>
    </tr>
    <tr>
        <td><div class="hoverwrap">
            <img src="/static/assets/Fortnite/renegade-raider-icon.png"/>
            <div class="hovercap">Renegade Raider</div> </div></td>
        <td><div class="hoverwrap">
            <img src="/static/assets/Fortnite/first-strike-specialist-icon.png"/>
            <div class="hovercap">First Strike Specialist</div> </div></td>
        <td><div class="hoverwrap">
            <img src="/static/assets/Fortnite/ghoul-trooper-icon.png"/>
            <div class="hovercap">Ghoul Trooper</div> </div></td>
        <td><div class="hoverwrap">
            <img src="/static/assets/Fortnite/recon-expert-icon.png"/>
            <div class="hovercap">Recon Expert</div> </div></td>
        <td><div class="hoverwrap">
            <img src="/static/assets/Fortnite/skull-trooper-icon.png"/>
            <div class="hovercap">Skull Trooper</div> </div></td>
    </tr>
    <tr>
        <td><div class="hoverwrap">
            <img src="/static/assets/Fortnite/munitions-expert-icon.png"/>
            <div class="hovercap">Munitions Expert</div> </div></td>
        <td><div class="hoverwrap">
            <img src="/static/assets/Fortnite/burnout-icon.png"/>
            <div class="hovercap">Burnout ---------- K</div> </div></td>
        <td><div class="hoverwrap">
            <img src="/static/assets/Fortnite/rex-icon.png"/>
            <div class="hovercap">Rex</div> </div></td>
        <td><div class="hoverwrap">
            <img src="/static/assets/Fortnite/power-chord-icon.png"/>
            <div class="hovercap">Power Chord</div> </div></td>
        <td><div class="hoverwrap">
            <img src="/static/assets/Fortnite/tricera-ops-icon.png"/>
            <div class="hovercap">Tricera Ops</div> </div></td>
    </tr>
    <tr>
        <td><div class="hoverwrap">
            <img src="/static/assets/Fortnite/rabbit-raider-icon.png"/>
            <div class="hovercap">Rabbit Raider</div> </div></td>
        <td><div class="hoverwrap">
            <img src="/static/assets/Fortnite/bunny-brawler-icon.png"/>
            <div class="hovercap">Bunny Brawler</div> </div></td>
        <td><div class="hoverwrap">
            <img src="/static/assets/Fortnite/brite-gunner-icon.png"/>
            <div class="hovercap">Brite Gunner</div> </div></td>
        <td><div class="hoverwrap">
            <img src="/static/assets/Fortnite/whiplash-icon.png"/>
            <div class="hovercap">Whiplash</div> </div></td>
        <td><div class="hoverwrap">
            <img src="/static/assets/Fortnite/tomatohead-icon.png"/>
            <div class="hovercap">Tomatohead</div> </div></td>
    </tr>
    <tr>
        <td><div class="hoverwrap">
            <img src="/static/assets/Fortnite/omega-icon.png"/>
            <div class="hovercap">Omega</div> </div></td>
        <td><div class="hoverwrap">
            <img src="/static/assets/Fortnite/carbide-icon.png"/>
            <div class="hovercap">Carbide</div> </div></td>
        <td><div class="hoverwrap">
            <img src="/static/assets/Fortnite/teknique-icon.png"/>
            <div class="hovercap">Teknique</div> </div></td>
        <td><div class="hoverwrap">
            <img src="/static/assets/Fortnite/jumpshot-icon.png"/>
            <div class="hovercap">Jumpshot</div> </div></td>
        <td><div class="hoverwrap">
            <img src="/static/assets/Fortnite/triple-threat-icon.png"/>
            <div class="hovercap">Triple Threat</div> </div></td>
    </tr>
</table>

</div>
