<!DOCTYPE html>
{% include "layouts/navbar.html" %}
<body>
<html>
<title>Genius Api</title>
<style>
    .button1:hover {
        background-color: #F5B7B1;
        color: black;
    }
</style>
<div class="container">
    <div class="center-block" style="margin: 2% 5% 5%;">
        <div class="col-12" style="text-align: center;">
            <br>
            <p style="color: whitesmoke; font-size: xxx-large; font-family: Baskerville">Random Songs</p>
            <br>
            <a href="{{url_for('geniusapi')}}" class="button1">Refresh!</a>
        </div>
        <br>
        <br>
        <br>
        <div class="jumbotron text-left row">
            <div class="col-md">
                <p class="setup" style="color: whitesmoke; font-size: x-large; text-align: center"><strong>{{genius.text}}</strong></p>
            </div>
        </div>

    </div>

    <table style="margin: 2%">
        <tr>
            <p style="color: whitesmoke; font-size: xx-large; font-family: Baskerville; text-align: center" id="answer" onclick="myFunction()">reveal song</p>

            <script>
                function myFunction() {
                    document.getElementById("answer").innerHTML = "{{genius.song}}";
                }
            </script>
        </tr>
        <tr>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <th>
                <p style="font-family: Baskerville; color: black; font-size: x-large">JSON Data</p>
            </th>
        </tr>
        <tr>
            <td>
                <p style="font-family: Baskerville; color: black; font-size: x-large" id="jsondata" onclick="myF()">reveal JSON</p>

                <script>
                    function myF() {
                        document.getElementById("jsondata").innerHTML = "{{genius}}";
                    }
                </script>
            </td>
        </tr>
    </table>
</div>
{% block background %}
{% endblock %}
</html>
</body>