{% extends "layouts/project.html" %}
{% set project = "greet" %}

{% block body %}
<body style="background-color:deepskyblue;">
<div class="center-block" style="margin: 2% 5% 5%; text-align:left; font-family: gilroy,serif;">
    <div class="col-0">
        <form action="/greet" id="greet" method="POST" >
            <label for="name" style="font-size:30px; text-align:left; font-family: gilroy,serif;">Type a greeting name?</label>
            <input name="name" id="name">
            <input type="submit" value="Greetings!">
        </form>
    </div>
    <p style="font-size:30px">Hello {{name}}!</p>

        <div class = "col-0">
            <img src=/static/Hello.gif">
        </div>
    {% endblock %}
</div>
</body>