<!DOCTYPE html>
{% extends "layouts/base.html" %}
{%block head %}
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Habitats</title>

    </head>
{%endblock%}
<html lang="en">

{% block body %}
<body>
<table>
    <tbody>
    <tr><td>{{ habitat[0][0]    }} </td><td> {{  habitat[0][1]   }} </td><td>{{ habitat[0][2] }}</td></tr>
    <tr><td>{{ habitat[1][0]    }} </td><td> {{  habitat[1][1]   }} </td><td>{{ habitat[1][2] }}</td></tr>
    <tr><td>{{ habitat[2][0]    }} </td><td> {{  habitat[2][1]   }} </td><td>{{ habitat[2][2] }}</td></tr>
    <tr><td>{{ habitat[3][0]    }} </td><td> {{  habitat[3][1]   }} </td><td>{{ habitat[3][2] }}</td></tr>
    </tbody>
</table>

</body>
{%endblock%}
</html>