<!DOCTYPE html>
{% extends "layouts/base.html" %}
{% block head %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hangman</title>

    <script>
        function dark() {
            var element = document.getElementById('navbarNavAltMarkup');
            element.classList.toggle("dark-mode");
        }
    </script>

    <style>
        .dark-mode {
            background: black;
            color: white;
        }
    </style>

    {% endblock %}

    {% block body %}

</head>
<body>

    <style>
        html,body {
            background-color: royalblue;
        }
    </style>

    <h1>Input Random Pet Name</h1>

    <form action="/">
        <label for="word">Word</label>
        <input type="text" id="fname" name="fname"><br><br>
        <label for="guess">Guess</label>
        <input type="text" id="lname" name="lname"><br><br>
        <input type="submit" value="Submit">
    </form>

    <p>Guess the Pet Name (Do With Partner!)</p>

    <div>
        <button onclick="dark()">Toggle dark mode</button>
        <div/>


        <img id="place" class="img-responsive py-3" alt="" width="500" src="/static/assets/pets.jpeg" >
        <img id="place" class="img-responsive py-3" alt="" width="256" src="/static/assets/pitbull.jpg" >

</body>
</html>
{% endblock %}