<!-- Extending the project layout, as this file will do minor customizations -->
{% extends "layouts/project.html" %}

<!-- Setting up variables to customize "project" details to be specific to kangaroos -->
{% set project = "Home" %}

{% block body %}

    <html>
    <head>
        <style>
            body {
                background-color: lightblue;
            }

            h1 {
                color: Black;
                text-align: center;
            }

            p {
                font-family: verdana;
                font-size: 20px;
            }
        </style>
    </head>
    <body>

    <h1>All Around The World</h1>
    <p>Welcome to our website! Feel free to take a look around. Our goal is to bring you on a tour of the seven continents of the world, including tourist locations and famous food spots.</p>

    </body>
    </html>


{% endblock %}
<!-- Setting up a block replacement to customize background to RINGS -->
{% block background %}

{% endblock %}