<!-- Extending the project layout, as this file will do minor customizations -->
{% extends "layouts/base.html" %}

<!-- Setting up variables to customize "project" details to be specific to kangaroos -->

{% block body %}

<h1 id="mainheader"> Expeditions </h1>

<style>
    html,body{
        background-color: #B99976;
    }
    #mainheader {
    position: absolute;
    top: 5%;
    font-size:250px;
    padding-top: 130px;
    selfalign: center;
    left: 40px;
    color: black;
    font-family: "Times New Roman";
}

</style>


{% endblock %}


