<!-- Extending the project layout, as this file will do minor customizations -->
{% extends "layouts/base.html" %}

<!-- Setting up variables to customize "project" details to be specific to index page -->
{% set project = "The Hackermen" %}
{% set overview = "https://github.com/Reinhardtlotter/flask_portfolio" %}
{% set repo = "https://drive.google.com/drive/u/1/my-drive" %}

{% block background %}



<style>
    body {
        background-image: url('https://img.wallpapersafari.com/desktop/1920/1080/7/36/uOV7Nd.gif ');
    }
</style>
{% endblock %}