<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Countries</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            font-family: "Comic Sans MS", "Times New Roman";
            margin: 0;
        }

        .picture {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            margin: 8px;
        }

        .tri1-welcome {
            padding: 30px;
            text-align: center;
            background-color:#1d6fa1;
            color: whitesmoke;
        }

        .row {
            padding: 25px;
            text-align: left;
            background-color:navy;
            color:whitesmoke;
        }

        .text {
            font-size: 20px;
            color:black
        }

        .extra-info {
            padding: 20px;
            text-align:center;
            background-color:slategrey;
            color:black;
        }

        .button {
            border: none;
            outline: 0;
            display: inline-block;
            padding: 8px;
            color: white;
            background-color:forestgreen;
            text-align: center;
            cursor: pointer;
            width: 100%;
        }

        .button:hover {
            background-color:lightgreen;
        }

        @media screen and (max-width: 650px) {
            .column {
                width: 100%;
                display: block;
            }
        }
    </style>
</head>
<body>
<div class="tri1-welcome">
    <h1>Top 10 countries YOU need to visit!</h1>
    <p>Learn about different countries before you visit!</p>
</div>


<div class="row">
    <h1>Scottland</h1>
    <div class="picture">
        <img src="/static/assets/scotland.jpeg" alt="scottland" style="width:30%">
    </div>
</div>
<div class="text">
    <p id="Scott" style="text-align: center; font-size: larger; font-family: Baskerville">Click for more information!</p>

    <script>
        document.getElementById("Scott").onclick = function() {myFunction1()};

        function myFunction1() {
            document.getElementById("Scott").innerHTML = "Scottland is known for their accent, humor and being a nation full of red-heads. Maybe you have heard of the Scottish favorites known as the Haggis, Tatties and neeps! ";
        }
    </script>
    </p>
</div>

</div>

<div class="row">
    <h1>New Zealand</h1>
    <div class="picture">
        <img src="/static/assets/newz.png" alt="New Zealand" style="width:30%">
    </div>
</div>
<div class="text">
    <p id="new" style="text-align: center; font-size: larger; font-family: Baskerville; color: #111111">Click for more information!</p>

    <script>
        document.getElementById("new").onclick = function() {myFunction()};

        function myFunction() {
            document.getElementById("new").innerHTML = "New Zealand is known for being very good at Rugby, sheep and its very stunnong national parks. Many college students choose to study abroad in New Zealand! ";
        }
    </script>
    </p>
</div>

</div>
<div class="row">
    <h1>Italy</h1>
    <div class="picture">
        <img src="/static/assets/italy.jpg" alt="Italy" style="width:30%">
    </div>
</div>
<div class="text">
    <p id="Italy" style="text-align: center; font-size: larger; font-family: Baskerville">Click for more information!</p>

    <script>
        document.getElementById("Italy").onclick = function() {myFunction2()};

        function myFunction2() {
            document.getElementById("Italy").innerHTML = "Italy is known for so many things! If you haven't had the desire to go to Italy then you must not like pizza enough! Italy is known for their great Itallian food, that is all homemade from Italy, along with the great views and many historical sights to visit. ";
    </script>
    </p>
</div>

</div>
<div class="row">
    <h1>Switzerland</h1>
    <div class="picture">
        <img src="/static/assets/switerland.jpg" alt="switzerland" style="width:30%">
    </div>
</div>
<div class="text">
    <p id="Switz" style="text-align: center; font-size: larger; font-family: Baskerville">Click for more information!</p>

    <script>
        document.getElementById("Switz").onclick = function() {myFunction3()};

        function myFunction3() {
            document.getElementById("Switz").innerHTML = "Switzerland is famous for its mesmerizing alpine scenery, luxury branded watches, and amazing milky chocolate that you have to try! ";
    </script>


</div>
<div class="row">
    <h1>The Philippines</h1>
    <div class="picture">
        <img src="/static/assets/phil.jpg" alt="phil" style="width:30%">
    </div>
</div>
<div class="text">
    <p id="Phil" style="text-align: center; font-size: larger; font-family: Baskerville">Click for more information!</p>

    <script>
        document.getElementById("Phil").onclick = function() {myFunction4()};

        function myFunction4() {
            document.getElementById("Phil").innerHTML = "The Philippines is known for having an immense amount of beautiful beaches and delicious fruit. It is very interesting to know that the Philippines are made up of no fewer than around 7,500 islands, of which only 2,000 are inhabited and some 5,000 are unnamed.";
    </script>
    </p>
    </div>
</div>
<div class="row">
    <h1>Israel</h1>
    <div class="picture">
        <img src="/static/assets/is.jpg" alt="Israel" style="width:30%">
    </div>
</div>
<div class="text">
    <p id="Is" style="text-align: center; font-size: larger; font-family: Baskerville">Click for more information!</p>

    <script>
        document.getElementById("Is").onclick = function() {myFunction5()};

        function myFunction5() {
            document.getElementById("Is").innerHTML = "The Land of Israel, also known as the Holy Land or Palestine, is the birthplace of the Jewish people. It is also very well known as the home of The Dead Sea.";
    </script>
    </p>
    </div>
</div>
<div class="row">
    <h1>Kenya</h1>
    <div class="picture">
        <img src="/static/assets/kenya.jpg" alt="Kenya" style="width:30%">
    </div>
</div>
<div class="text">
    <p id="kenya" style="text-align: center; font-size: larger; font-family: Baskerville">Click for more information!</p>

    <script>
        document.getElementById("kenya").onclick = function() {myFunction6()};

        function myFunction6() {
            document.getElementById("kenya").innerHTML = "Kenya is known for its world record-breaking athletes, its rich biodiversity, and great safari destinations. The most famous foods in Kenya are Nyama Choma and Githeri.";
        }
    </script>
    </p>
    </div>
</div>
<div class="row">
    <h1>Indonesia</h1>
    <div class="picture">
        <img src="/static/assets/indo.jpg" alt="Indonesia" style="width:30%">
    </div>
</div>
<div class="text">
    <p id="indo" style="text-align: center; font-size: larger; font-family: Baskerville">Click for more information!</p>

    <script>
        document.getElementById("indo").onclick = function() {myFunction7()};

        function myFunction7() {
            document.getElementById("indo").innerHTML = "Indonesia is famous for its volcanos. They are pretty much everywhere and erupting all the time. To be more precise, Indonesia has 147 volcanos, and 76 of them are active.";
        }
    </script>
    </p>
    </div>
</div>
<div class="row">
    <h1>Australia</h1>
    <div class="picture">
        <img src="/static/assets/austa.jpg" alt="Aussie" style="width:30%">
    </div>
</div>
<div class="text">
    <p id="Aussie" style="text-align: center; font-size: larger; font-family: Baskerville">Click for more information!</p>

    <script>
        document.getElementById("Aussie").onclick = function() {myFunction8()};

        function myFunction8() {
            document.getElementById("Aussie").innerHTML = "Australia is globally famous for its natural wonders, wide-open spaces, beaches, deserts, The Bush , and The Outback. Australia is one of the world's most highly urbanised countries; it's well known for its attractive mega cities such as Sydney, Melbourne, Brisbane, and Perth. ";
        }
    </script>
    </p>

    </div>
<div class="row">
    <h1>Ireland </h1>
    <div class="picture">
        <img src="/static/assets/ireland.jpg" alt="ireland" style="width:30%">
    </div>
</div>
<div class="text">
    <p id="Ireland" style="text-align: center; font-size: larger; font-family: Baskerville">Click for more information!</p>

    <script>
        document.getElementById("Ireland").onclick = function() {myFunction8()};

        function myFunction8() {
            document.getElementById("Ireland").innerHTML = "Ireland is known for the Shade of green! When you think of Ireland, many people think of Saint Patricks day and that is exactly what Ireland is known for! They are most well known for all of the things that relate to Saint Patricks day such as leprachans, shamrocks and the color green! ";
    </script>
    </p>
    </div>
    <body>
    <input type="text" placeholder="Do you want to print this page?" id="wish">
    <script>
        function cond(){
            var a=document.getElementById("wish").value;
            if(a=="yes"){
                print("Print");
            }
            else if(a=="no"){
                document.write("Click back to return to homepage");
            }
            else{
                print("Print")
            }
        }
    </script>
    <button type="button" onclick="cond()">Submit</button>

    </body>
</div>
</body>
</html>