<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Stubby" %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-12">
        <blockquote class="blockquote text-center">
        <h1 class="display-1">Mini-Labs</h1>
         <table>
         <thead>
    <blockquote class="blockquote text-center">
              <input type="button" class="btn btn-info" value="Brainwrite" onclick=" relocate_home()">

        <script>
            function relocate_home()
            {
                location.href = "https://docs.google.com/document/d/1Bvd6YmqO9-f4q_5PR7y2-Fw-I1BUDEP6Q7sveVjn2Pg/edit?usp=sharing";
            }
        </script>
        <a href="https://docs.google.com/document/d/13oDynZriMOZLJGRZ1XF9IGquwItVnpF7PiXeV7OK-YM/edit?usp=sharing" >
            <button type="button" class="btn btn-info">Wireframes</button>
        </a>
        <a href="https://www.canva.com/design/DAEpRQB6plI/doJNsQUlj_PvRWA__A1NFQ/view?utm_content=DAEpRQB6plI&utm_campaign=designshare&utm_medium=link&utm_source=viewer" >
            <button type="button" class="btn btn-info">TPT3</button>
        </a>
        <div class="container bg-light">
        <div class="col-md-12 text-center">
           </div>
        </div>
    </div>
    </body>

        <div class="col-md-12 text-center">
        </div>
    </div>
</div>
    </body>
    <blockquote class="blockquote text-center">
    <a href="http://127.0.0.1:5000/sonakshi" >
        <button type="button" class="btn btn-info">Greet</button>
    </a>
    <a href="https://youtu.be/UPD-ODdUVYg" >
        <button type="button" class="btn btn-info">Video/Journal 0</button>
    </a>
    <a href="http://127.0.0.1:5000/binary" >
        <button type="button" class="btn btn-info">Binary</button>
    </a>

    </div>
    </body>
    </html>

    </div>
            </body>
            </html>





            </script>
        <div class="container bg-light">
        <div class="col-md-12 text-center">

        </div>

    </div>
    </div>
</div>
{% endblock %}
<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}

