{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Jason" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <!- Try building a new body here ->
    </div>
    <p align="center">
        <iframe
                width="1000"
                height="500"
                src="https://docs.google.com/document/d/1caGFdefkHrh74c3f_iuIx26mDD3QnP0FDM9cpS8BYFM/edit?usp=sharing"
        ></iframe>
    </p>
    </div>
{% endblock %}


<!- This is turning off birds background from base.html -->
{% block background %}
<script src="three.r119.min.js"></script>
<script src="vanta.fog.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r121/three.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vanta@latest/dist/vanta.fog.min.js"></script>
<script>
    VANTA.FOG({
        el: "body",
        mouseControls: true,
        touchControls: true,
        gyroControls: false,
        minHeight: 200.00,
        minWidth: 200.00,
        highlightColor: 0xff00cb,
        midtoneColor: 0x7f337f,
        lowlightColor: 0x8d0cc8,
        baseColor: 0xaa96d7,
        speed: 2.80,
        zoom: 2.70
    });
</script>

{% endblock %}