<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Stubby" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <div class="center-block" style="margin: 2% 5% 5%; text-align:left; font-family: gilroy,serif;">

    <div class="col-12">
        <p>Hello, {{name}}!</p>
    </div>

    <div class="col-12">
        <form action="/kashish" id="greet" method="POST" >
            <label for="name">Type a greeting name?</label>
            <input name="name" id="name">
            <input type="submit" value="Greetings!">
        </form>
    </div>

    <div class="col-12">
        <img src="/static/assets/PythonFlask.jpeg" style="height: 400px" >
    </div>

    <html>
    <head>
        <style>
            body {
                background-color: mediumpurple;
            }

            h1 {
                color: black;
                text-align: center;
            }

        </style>

    </head>

    <h1>Kashish</h1>
    <br />

    <div class="container">
    <div class="row">
    <div class="col-sm-2">
        <img src="/static/assets/kashish.png" alt="Kashish's picture" style="width: 200px; height: 200px;">
        <p style="text-align: center;"> Kashish Chopra </p>





{% endblock %}


<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}


