<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Leah" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <!- Try building a new body here ->
    <p id="click" onclick="fun()">CLICK HERE!</p>
    <img id="nomask" onclick="mask()" src="/static/assets/leahunmasked.jpg">
    <br>
    <br>
    <button class="btn" id="masking" onclick="mask()">mask</button>

    <script>
    var masked = false
        function fun(){
            document.getElementById("click").innerHTML = "HELLO!!!" ;
        }
        function mask(){
            if (masked === false) {
                document.getElementById("nomask").src = "/static/assets/leahmasked.jpg"
                masked = true
            }
            else {
                document.getElementById("nomask").src = "/static/assets/leahunmasked.jpg"
                masked = false
            }
        }
    </script>
    <br>
    <p> My name is Leah Bogomolny and I am in 12th grade</p>
    <p> I like to play games and hang out with friends</p>
    <p> I have an older sister named, Maggie, who is a junior in college.</p>
    <p> I want to be a computer science major in college </p>

    <style>
        p {
            margin-left: 250px;
        }
        img {
            margin-left: 250px;
            width: 207px;
            height: 368px;
        }
        button {
            margin-left: 250px;
        }
    </style>
{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}