{% extends "layouts/project.html" %}
{% block body %}
    <!DOCTYPE html>

<link rel="stylesheet" type="text/css" href="/static/css/linda.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/static/js/linda.js"></script>
    <body>
    <style>
        .button1 {
            background-color: white;
            color: grey;
            border: 3px solid #9CD8EC;
            text-decoration: none;
            margin: 4px 2px;
            padding: 3px 4px;
        }

        .button1:hover {
            background-color: whitesmoke;
            color: black;
        }
    </style>

    <div id="video_wrapper">
    <video autoplay muted loop>
        <source src="https://drive.google.com/uc?export=view&id=1yWXLFO320yVEiGrRJxm_hkEojwD2AVgr" type="video/mp4">
    </video>


    <div id="wrapper">
        <audio loop controls autoplay>
            <source src="/static/rain.mp3" type="audio/mpeg">
        </audio>
    <div style="margin: 2% 5% 5%; text-align:center; font-family: Baskerville; font-size: larger">
        <div>

            <h1>Linda Liu Individual Homepage</h1>

            <!-Greet->
            <p>Hello <span id="myName">{{name}}</span>, welcome to my individual page!</p>
            <form action="#" id="linda" method="POST" >
                <label for="name" style="color: white">Enter Your Name</label>
                <input name="name" id="name">
                <input type="submit" value="Go!" onclick="(function (){document.getElementById('myName').innerText=document.getElementById('name').value})();return false;">
            </form>

            <!-Links->
            <p style="text-align: left"><a href="https://docs.google.com/document/d/1PGcv6fkv8A5Y1uzuN-iLSGm9CKhdWEL_fQRZyGv9ymI/edit?usp=sharing">Pair Journal</a></p>
            <p style="text-align: left"><a href="https://docs.google.com/document/d/1sZS-mU7SGq6S9c94T5OciGrEQYjoQMeJLd6lv3WhqoY/edit?usp=sharing">My Individual Journal</a></p>
            <p style="text-align: left"><a href="https://docs.google.com/document/d/1Fgip2Fr26XOBEdhVSpi1QiwjZowhopY57o4UpwbYZzo/edit?usp=sharing">StudyOwl Brainwrite</a></p>
            <p style="text-align: left"><a href="https://docs.google.com/document/d/1OkAMgzNODur6Gtonz_EuvoDeVXUnaMvdthtZnsBjXwU/edit">TPT 0.0 Create Task</a></p>


            <!-Images Toggle->
            <p>
                <img src="/static/assets/lindaWithMask.jpg" style="height: 350px; width: auto;" id="imgClickAndChange" onclick="changeImage()"/>
            </p>
            <p style="font-size: large; font-family: Baskerville; text-align: center"><i>Click Me</i></p>


            <!-Random Motivational Quote Api->
            <button id="get-quote" style="margin-top: 20px;height: 35px" onclick="newQuote()">Get me a quote</button>

            <div id="display-quote" style="margin-top: 10px;font-size: 29px;color: white;font-weight: 600;">No quote yet</div>


            <!-Todo List->
            <button id="show-todo" onclick="showTodo()">Show Todo List</button>
            <div class="container" id="todo-list">
                <h2>TODO LIST</h2>
                <h3>Add Item</h3>
                <p>
                    <input id="new-task" type="text"><button onclick="addTask()">Add</button>
                </p>

                <h3>Todo</h3>
                <ul id="incomplete-tasks">
                    <li><input type="checkbox"><label>Math Homework</label><input type="text"><button class="edit">Edit</button><button class="delete">Delete</button></li>
                    <li><input type="checkbox"><label>History Reading</label><input type="text" value="Go Shopping"><button class="edit">Edit</button><button class="delete">Delete</button></li>
                </ul>

                <h3>Completed</h3>
                <ul id="completed-tasks">
                    <li><input type="checkbox" checked><label>Essay Final Draft</label><input type="text"><button class="edit">Edit</button><button class="delete">Delete</button></li>
                </ul>
            </div>

<br>

            <!-Digital Clock->
            <button id="show-clock" onclick="showClock()">Show Digital Clock</button>
            <div class="container" id="clock">

                <meta charset="UTF-8" />
                <meta name="viewport" content=
                        "width=device-width,
        initial-scale=1.0" />

            <link rel="stylesheet" href="/static/css/linda.css">

            <div id="clock">8:10:45</div>

            <script src="/static/js/clock.js"></script>


        </div>
        </div>
    </div>
    </body>


{% endblock %}