<!DOCTYPE html>
{% extends "layouts/base.html" %}

{% block background %}
{% endblock %}
{% set project = "colors" %}

{% block body %}
    <title>Color Codes</title>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>logic_gates</title>
    </head>

    <style>
        table, th, td {
            border: .5px solid black;
        }
    </style>

    <body>

    <h2>Logic Gate Lab</h2>

    <input type="checkbox" id=a name="input" value=1>
    <label for=a>a</label><br>
    <input type="checkbox" id=b name="input" value=1>
    <label for=b>b</label><br>
    <button type="submit" id="results" onclick="output()">Submit</button>

        <tr>
            <th>Symbol</th>
            <th>Logic Gate</th>
            <th>Result</th>
        </tr>

        <script>
            function output() {
                let input1 = document.getElementById("a").checked;
                let input2 = document.getElementById("b").checked;
                let andResult = input1 && input2;
                let nandResult = !(input1 && input2);
                let orResult = input1 || input2;
                let norResult = !(input1 || input2);
                let xorResult = input1 !== input2;

                if (andResult) {
                    document.getElementById("andGate").innerHTML = andResult;
                } else {
                    document.getElementById("andGate").innerHTML = andResult;
                }
                if (nandResult) {
                    document.getElementById("nandGate").innerHTML = nandResult;
                } else {
                    document.getElementById("nandGate").innerHTML = nandResult;
                }

                if (orResult) {
                    document.getElementById("orGate").innerHTML = orResult;
                } else {
                    document.getElementById("orGate").innerHTML = orResult;
                }

                if (norResult) {
                    document.getElementById("norGate").innerHTML = norResult;
                } else {
                    document.getElementById("norGate").innerHTML = norResult;
                }

                if (xorResult) {
                    document.getElementById("xorGate").innerHTML = xorResult;
                } else {
                    document.getElementById("xorGate").innerHTML = xorResult;
                }

            }

        </script>
    <blockquote>
    </blockquote>

    <tr>
            <td><img src="/static/assets/gateimgs/andgate.jpg"/></td>
            <td>And Gate</td>
            <td id="andGate"> 0 </td>
        </tr>
<div>

</div>
    <blockquote>

    </blockquote>
        <tr>
            <td><img src="/static/assets/gateimgs/nandgate.jpg"/></td>
            <td>Nand Gate</td>
            <td id="nandGate"> 0 </td>
        </tr>
    <blockquote>

    </blockquote>
        <tr>
            <td><img src="/static/assets/gateimgs/orgate.jpg"/></td>
            <td>Or Gate</td>
            <td id="orGate"> 0 </td>
        </tr>
    <blockquote>

    </blockquote>
        <tr>
            <td><img src="/static/assets/gateimgs/norgate.jpg"/></td>
            <td>Nor Gate</td>
            <td id="norGate"> 0 </td>
        </tr>
    <blockquote>

    </blockquote>
        <tr>
            <td><img src="/static/assets/gateimgs/xoorgate.jpg"/></td>
            <td>Xor Gate</td>
            <td id="xorGate"> 0 </td>
            <blockquote>

            </blockquote>
          </tr>
    </table>
    </body>
    </html>
{% endblock %}