<!DOCTYPE html>
<html lang="en">
{%  extends "layout/base.html" %}
{%  set project = "About Us" %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
{% block body %}
    <div class="row">
        <div class="col-3">
            <a href="aboutdaniel.html.html" class="btn">Daniel</a>
        </div>

        <div class="col-3">
            <a href="aboutnathan.html" class="btn">Nathan</a>
        </div>

        <div class="col-3">
            <a href="aboutreem.html" class="btn">Reem</a>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <a href="aboutjames.html" class="btn">James</a>
        </div>

        <div class="col-6">
            <a href="aboutjacob.html" class="btn">Jacob</a>
        </div>
    </div>
{% endblock %}
</html>