<!DOCTYPE html>
<html lang="en">
{%  extends "layouts/base.html" %}
{%  set project = "About Us" %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
{% block body %}
    <div class="col-0" style="margin: 3% 5% 2%" name="imgbox" id="imgbox">
    <table class="table">
        <thead>
        <tr>
            <div class="content_img">
                <img src='/static/nathan1.jpg' width='125%' height='175%' style="margin: 0% 0% 0%">
                <div>Nathan Manangan:<br>15 years old<br>Allergic to seafood </div>
            </div>
        </tr>
        </thead>
        <tbody>
        <tr>
            <div class="content_img">
                <img src='/static/nathan1.jpg' width='125%' height='175%' style="margin: 0% 0% 0%">
                <div>Daniel<br><br></div>
            </div>
        </tr>
        <tr>
            <div class="content_img">
                <img src='/static/nathan1.jpg' width='125%' height='175%' style="margin: 0% 0% 0%">
                <div>Reem<br><br></div>
            </div>
        </tr>
        <tr>
            <div class="content_img">
                <img src='/static/nathan1.jpg' width='125%' height='175%' style="margin: 0% 0% 0%">
                <div>Jacob<br><br></div>
            </div>
        </tr>
        <tr>
            <div class="content_img">
                <img src='/static/nathan1.jpg' width='125%' height='175%' style="margin: 0% 0% 0%">
                <div>James<br><br></div>
            </div>
        </tr>
        </tbody>
    </table>
    <style>
        .content_img{
            position: static;
            width: 14%;
            height: 20%;
            float: left;
            margin-right: 11%;
        }
    </style>
{% endblock %}
</html>