{% extends "layouts/base.html" %}

{% set project = "Mini Labs!" %}

{% block body %}
<head>
    <meta charset="UTF-8">
    <title>Minilabs</title>
    <style>
        body {
            background: #a2cf9f;
        }

        .sneaky {
            width: 20%;
            top: 50%;
            position: relative;
            left: 40%;
            border-bottom: 5px #000000;
            overflow: hidden;
            animation: animate 5s linear forwards;
        }

        .sneaky h1 {
            color: #000000;
        }
    </style>
</head>
<body>
<h1>Minilabs!</h1>
<div class="row">
    <div class="col">col</div>
    <div class="col">col</div>
    <div class="col">col</div>
    <div class="col">col</div>
    <div class="w-100"></div>
    <div class="col">col</div>
    <div class="col">col</div>
    <div class="col">col</div>
    <div class="col">col</div>
    <div class="w-100"></div>
    <div class="col">col</div>
    <div class="col">col</div>
    <div class="col">col</div>
    <div class="col">col</div>
    <div class="w-100"></div>
    <div class="col">col</div>
    <div class="col">col</div>
    <div class="col">col</div>
    <div class="col">col</div>
</div>
</div>
    <h2>Video Journal</h2>
    <p>Unfortunately, due to severe budget cuts, we cannot afford CSS for this page.</p>
    <p>Just pretend we're running this website on a CERN mainframe in the 1980's.</p>
    <p>Please enjoy this video presentation by our team as a compensatory visual stimulus.</p>
    <iframe width="853" height="480" src="https://www.youtube.com/embed/kJKbsoaUph4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</body>
{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}
