<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Minilabs</title>
</head>
<body>
<h1>Minilabs!</h1>
    <h2>Video Journal</h2>
    <p>Unfortunately, due to severe budget cuts, we cannot afford CSS for this page.</p>
    <p>Just pretend we're running this website on a CERN mainframe in the 1980's.</p>
    <p>Please enjoy this video presentation by our team as a compensatory visual stimulus.</p>
    <iframe width="853" height="480" src="https://www.youtube.com/embed/kJKbsoaUph4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</body>
</html>