<!DOCTYPE html>
<html lang="en">
{%  set project = "Create Task" %}
<head>
    <meta charset="UTF-8">
    <title>Create Task</title>
</head>
<script>
    var numbers = [];

    function userinput(){
        numbers.push(document.getElementById("numbers").value);
        window.alert(numbers);
    }
    function Min(){

    }
    function Max(){

    }
    function Ave(){

    }
</script>
<body>
<div class="col-12">
    <form>
        <label for="numbers">Type in an integer</label>
        <input id="numbers">
        <input type="submit" value="submit" onclick="userinput()">
    </form>
    <button onclick="Min">Minimum</button>
    <button onclick="Max">Maximum</button>
    <button onclick="Ave">Average</button>
</div>
</body>
</html>