<!DOCTYPE html>
<html lang="en">
{%  extends "layouts/base.html" %}
{%  set project = "Create Task" %}
<head>
    <meta charset="UTF-8">
    <title>Create Task</title>
</head>
{% block body %}
<script>
    var numbers = [];

    function userinput(){
        numbers.push(document.getElementById("numbers1").value)
        numbers.push(document.getElementById("numbers2").value)
        numbers.push(document.getElementById("numbers3").value)
        numbers.push(document.getElementById("numbers4").value)
        window.alert(numbers);
    }
    function Min(){

    }
    function Max(){

    }
    function Ave(){

    }
</script>
<body>
<div class="col-12">
    <form>
        <label for="numbers1">Type in an integer</label>
        <input id="numbers1">
        <label for="numbers2">Type in an integer</label>
        <input id="numbers2">
        <label for="numbers3">Type in an integer</label>
        <input id="numbers3">
        <label for="numbers4">Type in an integer</label>
        <input id="numbers4">
        <input multiple="multiple" type="submit" value="submit" onclick="userinput()">
    </form>
    <button onclick="Min">Minimum</button>
    <button onclick="Max">Maximum</button>
    <button onclick="Ave">Average</button>
</div>
</body>
{% endblock %}
</html>