<!-- Extending the project layout, as this file will do minor customizations -->
{% extends "layouts/project.html" %}

<!-- Setting up variables to customize "project" details to be specific to kangaroos -->
{% set project = "NorthAmerica" %}

{% block body %}

    <html>
    <head>
        <style>
            body {
                background-image: url("https://patch.com/img/cdn20/users/221557/20180323/081200/styles/raw/public/processed_images/alberta-canada-1521850306-1596.jpg");
            }

            h1 {
                color: white;
                text-align: center;
                font-size: xxx-large;
            }


        </style>
    </head>
    <body>

    <h1>North America</h1>

    </body>
    </html>


{% endblock %}
<!-- Setting up a block replacement to customize background to RINGS -->
{% block background %}

{% endblock %}