
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        body {
            position: relative;
        }
        #section1 {padding-top:50px;height:800px;color: #fff; background-color: #1E88E5; background-image: url("https://patch.com/img/cdn20/users/221557/20180323/081200/styles/raw/public/processed_images/alberta-canada-1521850306-1596.jpg");
        }

        h1 {
            color: white;
            text-align: center;
            font-size: xxx-large;}
        #section2 {padding-top:50px;height:800px;color: #fff; background-color: #184d09;}
        #section3 {padding-top:50px;height:800px;color: #fff; background-color: #184d09;}
        #section4 {padding-top:50px;height:800px;color: #fff; background-color: #184d09;}
        #section5 {padding-top:50px;height:800px;color: #fff; background-color: #184d09;}

    </style>
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50">

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">

            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="http://127.0.0.1:5000/">All Around The World</a>
        </div>
        <div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <blockquote></blockquote>
                    <li><a href="#section1">Welcome to North America!</a></li>
                    <li><a href="#section2">Notable Locations</a></li>
                    <li><a href="#section3">Cuisine and Community</a></li>
                    <li><a href="#section4">Accommodations</a></li>
                    <li><a href="#section5">Read:</a></li>


                </ul>
                </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<div id="section1" class="container-fluid">
    <blockquote></blockquote>
    <blockquote></blockquote>
    <h1>Welcome to North America!</h1>

    <style>
        body {
        h1 {
            color: white;
            text-align: center;
            font-size: xx-small;}
    </style>
</div>

<blockquote>



</blockquote>

<div id="section2" class="container-fluid">
    <blockquote>

    </blockquote>
    <blockquote>

    </blockquote>
    <h1>Notable Locations</h1>
    What are some notable locations in North America? Well, given that there are so many countries, here is a brief rundown.
    <h3><p class="text-left">Hawaii, known for its beautiful scenery and beaches, is a fantastically cultural location.
        With its multiple glorious and gorgeous islands, there is so much to explore and so much time to relax.        Victoria Falls, known for its breathtaking view, is between Zambia and Zimbabwe.
        All locations in California, such as San Diego, Los Angeles, Cambria, and Solvang are beautiful and scenic. LA is constantly bustling with people and there's a high chance you'll catch a celebrity! San Diego is calming and beautiful. And Cambria is idyllic and small, and has so much to offer. Solvang is unmatched in a rich history, a Danish village with incredible architecture and food. Check it out!
        Utah, most often known for its incredible skiing seasons, is also a gorgeous state. Spring and fall are incredible sights.
        Canada is an incredible country, with it's immense beauty and consistency. Quebec City, Quebec, in Canada, is one of the most worthwhile tourist locations. It has captivating views, historical sights, and a rich history.
        Victoria, in the British Columbia, in Canda, is also incredible. There is a large diversity in cuisine here.
        Arizona is known for its beautiful deserts, especially the gorgeous Sedona. The landscapes are incredible and it's such a beautiful location.
        Don't forget Washington D.C.! The White House, Capitol, Washington Monument, memorials, and an insane of other beautiful and incredible views can tie you back to the United States. It's an incredible trip.
        Coupled with these is the unforgettable Mexico. Beautiful beaches are in Tulum, Playa del Carmen, and Cancun. Mexico city is a historic staple, and Puerto Vallarta is a food staple. Don't forget to visit as many cities as possible!</h3></p>
    <div id="section3" class="container-fluid">
        <blockquote>

        </blockquote>
        <blockquote>

        </blockquote>
        <blockquote>

        </blockquote>
        <h1>Cuisine and Community </h1>
        <h2>Listed below are some great websites for popular cuisine: </h2>
        <a href="https://www.timeout.com/north-america/restaurants" >
            <div class="vertical-center">
                <button>Some Fantastic Food Recommendations</button>
            </div>
            <a href="https://fwtmagazine.com/6-food-cities-in-north-america-6-food-writers/" >
                <div class="vertical-center">
                    <button>15 Great Dishes!</button>
                </div>
                <a href="https://theculturetrip.com/north-america/articles/the-15-best-restaurants-in-north-america/" >
                    <div class="vertical-center">
                        <button>15 Best Restaurants in North America!</button>
                    </div>
                    <a href="https://www.finedininglovers.com/article/oad-150-best-restaurants-north-america-2021" >
                        <div class="vertical-center">
                            <button> Best US Restaurants!</button>
                        </div>
                        <a href="https://spoonuniversity.com/place/the-best-things-to-eat-in-canada-before-you-die" >
                            <div class="vertical-center">
                                <button>Top Canadian Restaurants!</button>
                            </div>
                            <a href="https://www.eater.com/maps/best-mexico-city-restaurants-38" >
                                <div class="vertical-center">
                                    <button>Top Mexican Restaurants in Mexico City</button>
                                </div>
                            <div>

                                <blockquote>

                                </blockquote>
                                <blockquote>

                                </blockquote>
                                <blockquote>

                                </blockquote>
                                <blockquote>

                                </blockquote>
                                <blockquote>

                                </blockquote>
                                <blockquote>

                                </blockquote>
                            </div>
                            <div>


                            </div>

                            <div id="section4" class="container-fluid">
                                <blockquote>

                                </blockquote>
                                <blockquote>

                                </blockquote>
                                <blockquote>

                                </blockquote>
                                <a href="#section4" >
                                    <div class="vertical-center">
                                        <button>                  </button>
                                    </div>
                                    <h1>Accommodations</h1>
                                    <h3>Below are some great websites to research for living accommodations across the North American continent!</h3>
                                    <blockquote></blockquote>
                                    <a href="https://www.traveloffpath.com/top-8-unique-places-to-stay-in-the-u-s-for-2021/" >
                                        <div class="vertical-center">
                                            <button>Unique Places to Stay in 2021 in the US</button>
                                        </div>
                                        <a href="https://travel.usnews.com/Hotels/USA/" >
                                            <div class="vertical-center">
                                                <button>25 of the Best Hotels in the USA</button>
                                            </div>
                                            <a href="https://www.travelandleisure.com/worlds-best/resort-hotels-in-mexico" >
                                                <div class="vertical-center">
                                                    <button>Top 25 Hotels of Mexico</button>
                                                    <a href="https://www.oyster.com/mexico/hotels/roundups/best-luxury-hotels-in-mexico/" >
                                                        <div class="vertical-center">
                                                            <button>18 of the Best Luxury Hotels in Mexico</button>
                                                            <a href="https://travel.usnews.com/Hotels/Canada/" >
                                                                <div class="vertical-center">
                                                                    <button>25 of the Best Hotels in Canada</button>
                                                                    <a href="https://travel.usnews.com/Hotels/Canada/" >
                                                                        <div class="vertical-center">
                                                                            <button>11 of the Best Places to Stay in Canada</button>
                                                                            <a href="https://www.touropia.com/best-places-to-stay-in-canada/" >
                                                                                <div class="vertical-center">

                                                                                    </button>
                                                        </div>

</body>
</html>



