<!DOCTYPE html>
{% extends "layouts/base.html" %}
{% block head %}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/assets/scss/Test2.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cutive Mono">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Robot Condensed">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    </head>
    </head>
<style>
    table, th, td {
        border: 1px solid white;
        border-collapse: collapse;
    }
</style>
{%endblock%}
{% block body %}
<body>
<div id="google_translate_element"></div>

<script type="text/javascript">
    function googleTranslateElementInit() {
        new google.translate.TranslateElement(
            {pageLanguage: 'en'},
            'google_translate_element'
        );
    }
</script>

<script type="text/javascript" src=
        "https://translate.google.com/translate_a/element.js?
        cb=googleTranslateElementInit">
</script>
<button onclick="googleTranslateElementInit();">Translate this page to a language of your choosing!</button>
<table style="width:100%">
    <tr>
            <th class="p-5 bg-primary text-white text-center">Pet</th>
            <th class="p-5 bg-primary text-white text-center">Pet Description</th>
            <th class="p-5 bg-primary text-white text-center">Pet Image</th>
        </div>
    </tr>
    <tr>
        <td>
            {% for image in pimage %}
            <tr>
    <td>
        <div class="p-5 bg-dark text-white text-center">{{image.animal}}</div>
    </td>
    <td>
        <div class="p-5 bg-dark text-white text-center">Habitat/Enclosure: {{image.habitat}}</div>
        <div class="p-5 bg-dark text-white text-center">Quick Description: {{image.Slogan}}</div>
    </td>
    <td>
        <img class="img-responsive py-3" id=img{{loop.index}} alt="" width="300" height="Auto" src="{{image.base64}}" >
    </td>
</tr>
{% endfor %}
</table>


</body>
{%endblock%}
</html>

