<!DOCTYPE html>
{% extends "layouts/base.html" %}
{% block head %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quiz</title>
    <style>
        p.solid {border-style: solid;}
        p.outline {outline-style: solid;}
    </style>
    <script>
        function check(){
            var c=0;
            var q1=document.quiz.question1.value;
            var q2=document.quiz.question2.value;
            var q3=document.quiz.question3.value;
            if (q1=="Rhino") {c++}
            if (q2=="Snake") {c++}
            if (q3=="Dog") {c++}
            document.getElementById("score").innerHTML = c;
            document.getElementById("outof").innerHTML = "out of 3 correct";
        }
    </script>

</head>
{% endblock %};

{% block body %}
<body>
<form name="quiz" id="quiz">
    <div style="background-color:dodgerblue">
        <p class="outline" >1. Which of these is not a common pet?</p>
        <p><input type = "radio" name="question1" value="Rhino">A. Rhino</p>
        <p><input type = "radio" name="question1" value="Dog">B. Dog</p>
        <p><input type = "radio" name="question1" value="Cat">C. Cat</p>
        <p><input type = "radio" name="question1" value="Bird">D. Bird</p>
    </div>
    <div style="background-color:dodgerblue">
        <p class="outline">2. Which pet is slick and menacing?</p>
        <p><input type = "radio" name="question2" value="Dog">A. Dog</p>
        <p><input type = "radio" name="question2" value="Snake">B. Snake</p>
        <p><input type = "radio" name="question2" value="Fish">C. Fish</p>
        <p><input type = "radio" name="question2" value="Mice">D. Mice</p>
    </div>
    <div style="background-color:dodgerblue">
        <p class="outline">3. Which pet is known as man's best friend?</p>
        <p><input type = "radio" name="question3" value="Lizard">A. Lizard</p>
        <p><input type = "radio" name="question3" value="Frog">B. Frog</p>
        <p><input type = "radio" name="question3" value="Cat">C. Cat</p>
        <p><input type = "radio" name="question3" value="Dog">D. Dog</p>
    </div>
    <input type="button" name="" value="Submit" onclick="check()">
    <div id="score"></div>
    <div id="outof"></div>
</form>
</body>
</html>
{% endblock %}