{% include "layouts/navbar.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pokemon Cards</title>
</head>
<body style="background:linear-gradient(to bottom, #03254c 0%, #29C5F6 100%);">


<style>
    .table {
        margin: auto;
        border: 1px solid white;
        width: 50%;
        padding-left: 75px;
        color: white;
    }

    .th {
        border: 1px solid white;
    }

    .td {
        border: 1px solid white;
    }


</style>

<table class="table">
    <tr>
        <th class="th"Pokemon</th>
        <th class="th">Type</th>
        <!--<th class="th">Picture</th>-->
    </tr>
    {%  for x in pokemoncard["results"] %}
    <tr>
        <td class="td">{{ x["name"]}}</td>
        <td class="td">{{ x['types'][0]}}</td>
        <!--<td class="td"><img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/596.png" width="75"></td>-->
    </tr>
    {% endfor %}
</table>

</body>
</html>