<!DOCTYPE html>
<html lang="en">
{% extends "layouts/base.html" %}
<head>
    <meta charset="UTF-8">
    <title>Quiz</title>
</head>
{% block body %}
<body>
<style>
    body{
        font-size: 20px;
        font-family: sans-serif;
    }
    .question{
        font-weight: 600;
    }
    .answers {
        margin-bottom: 20px;
    }
    #submit{
        font-family: sans-serif;
        font-size: 20px;
        background-color: #297;
        color: #fff;
        border: 0px;
        border-radius: 3px;
        padding: 20px;
        cursor: pointer;
        margin-bottom: 20px;
    }
    #submit:hover{
        background-color: #3a8;
    }
    label{
        color:white;
    }
</style>
<div id="quiz"></div>
<button id="submit">Get Results</button>
<div id="results"></div>
<script>
    const myQuestions = [
        {
            question: "What is the purpose of our site?",
            answers: {
                a: 'To help provide information on travel destinations and cultures',
                b: 'To provide discounts for travelling, on things like hotels',
                c: 'Show the diverse cultures around the world using TikTok dances'
            },
            correctAnswer: 'a'
        },
        {
            question: "What are possible languages available in our language translator?",
            answers: {
                a: 'Japanese, Hebrew, English, Korean, Chinese, Italian',
                b: 'German, Chinese, Italian, English, Spanish, Hebrew',
                c: 'English, German, Italian, French, Arabic, Korean'
            },
            correctAnswer: 'b'
        },
        {
            question: "Who are the people in our group?",
            answers: {
                a: 'Nathan, James, Ben, Cameron, Dylan',
                b: 'Reem, Ben, Nathan, Jacob, Cameron',
                c: 'Jacob, James, Nathan, Reem, Daniel'
            },
            correctAnswer: 'c'
        },
        {
            question: "What is the number of tries you get in our number guess game?",
            answers: {
                a: '20',
                b: '5',
                c: '10'
            },
            correctAnswer: 'c'
        }
    ];

    const quizContainer = document.getElementById('quiz');
    const resultsContainer = document.getElementById('results');
    const submitButton = document.getElementById('submit');

    generateQuiz(myQuestions, quizContainer, resultsContainer, submitButton);

    function generateQuiz(questions, quizContainer, resultsContainer, submitButton){

        function showQuestions(questions, quizContainer){
            // we'll need a place to store the output and the answer choices
            const output = [];
            let answers;

            // for each question...
            for(let i=0; i<questions.length; i++){

                // first reset the list of answers
                answers = [];

                // for each available answer...
                for(const letter in questions[i].answers){

                    // ...add an html radio button
                    answers.push(
                        '<label>'
                        + '<input type="radio" name="question'+i+'" value="'+letter+'">'
                        + letter + ': '
                        + questions[i].answers[letter]
                        + '</label>'
                        + '<br>'
                    );
                }

                // add this question and its answers to the output
                output.push(
                    '<div class="question">' + questions[i].question + '</div>'
                    + '<div class="answers">' + answers.join('') + '</div>' + '<br>'
                );
            }

            // finally combine our output list into one string of html and put it on the page
            quizContainer.innerHTML = output.join('');
        }


        function showResults(questions, quizContainer, resultsContainer){

            // gather answer containers from our quiz
            const answerContainers = quizContainer.querySelectorAll('.answers');

            // keep track of user's answers
            let userAnswer = '';
            let numCorrect = 0;

            // for each question...
            for(let i=0; i<questions.length; i++){

                // find selected answer
                userAnswer = (answerContainers[i].querySelector('input[name=question'+i+']:checked')||{}).value;

                // if answer is correct
                if(userAnswer===questions[i].correctAnswer){
                    // add to the number of correct answers
                    numCorrect++;

                    // color the answers green
                    answerContainers[i].style.color = 'lightgreen';
                }
                // if answer is wrong or blank
                else{
                    // color the answers red
                    answerContainers[i].style.color = 'red';
                }
            }

            // show number of correct answers out of total
            resultsContainer.innerHTML = numCorrect + ' out of ' + questions.length;
        }

        // show questions right away
        showQuestions(questions, quizContainer);

        // on submit, show results
        submitButton.onclick = function(){
            showResults(questions, quizContainer, resultsContainer);
        }

    }
</script>
</body>
{% endblock %}
</html>