<!DOCTYPE html>
{% extends "layouts/base.html" %}

{% block meta %}
    <script>
        // Hack: add java script function to toggle image from original to gray and back (toggle)
        //  document.getElementById("img<n>").src
        //  document.getElementID("img_gray<n>").innerHTML
        //  help: https://www.geeksforgeeks.org/how-to-change-the-src-attribute-of-an-img-element-in-javascript-jquery/


        function setImg(index){
          //  var imgId =  concat("img", index.toString());
            if (document.getElementById("btn"+index).value == "Toggle Gray" ) {
                // for each image in the image list, set its gray scale values
                // img1, img2, img 3
                document.getElementById("img" + index).src = document.getElementById("img_gray" + index).innerHTML;
                document.getElementById("btn" + index).value = "Toggle Original";

            } else {
                document.getElementById("img"+index).src = document.getElementById("img_orig"+index).innerHTML;
                document.getElementById("btn"+index).value = "Toggle Gray";

            }
        }

        function setInvert(index) {
            if (index == 1 ){
                if (document.getElementById("btn6").value == "Invert") {
                    document.getElementById("img1").src = document.getElementById("img_invert1").innerHTML;
                    document.getElementById("btn6").value = "Regular";
                } else {
                    document.getElementById("img1").src = document.getElementById("img_orig1").innerHTML;
                    document.getElementById("btn6").value = "Invert";
                }
            } else {
                alert ("Invert not supported for plain colors")
            }
        }
    </script>
    <title>RGB starter</title>
{% endblock %}

{% block body %}
    <h1 class="text-center">RGB values within an Image</h1>
    <div class="container">
        <div class="row justify-content-md-center">
            <table class="table">
                <thead>
                <tr>
                    <th>Meta Data</th>
                    <th>Image</th>
                    <th>Data</th>
                </tr>
                </thead>
                <tbody>
                <!-- iterate through the list of images in image.py - have 5 images, 1 scenery, 4 plain -->
                <!-- Image 1 = Scenery, Image 2 = Blue, Image3  -->
                {% for image in images %}
                    <tr>
                        <td>
                            <div>{{image.label}}</div>
                            <div>{{image.source}}</div>
                            <div>{{image.file}}</div>
                            <div>{{image.format}}</div>
                            <div>{{image.size}}</div>
                        </td>
                        <td>
                            <img class="img-responsive py-3" id=img{{loop.index}} alt="" width="256" height="Auto" src="{{image.base64}}" >
                            <input type="button" value="Toggle Gray" id="btn{{ loop.index }}" onclick="setImg({{ loop.index }})">
                            <input type="button" value="Invert" id="btn6"  onclick="setInvert({{ loop.index }})">
                            <input type="button" value="Invert" id="btn6"  onclick="setInvert({{ loop.index }})">
                            <!-- Hack: create button (btn{{loop.index}} to  call java script function
                               pass index to allow you to toggle images with hidden id's
                               {{image.base64}}  original image
                               {{image.base64_GRAY}}  gray scale image
                            -->
                            <p hidden id="img_orig{{loop.index}}">{{image.base64}}</p>
                            <p hidden id="img_gray{{loop.index}}">{{image.base64_GRAY}}</p>
                            <p hidden id="img_invert{{loop.index}}">{{image.base64_INVERT}}</p>

                        </td>
                        <td>
                            <div class="overflow-auto" style="height: 256px">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>{{image.mode}}</th>
                                        <th>Hex Code</th>
                                        <th>Binary</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for row in image.data[:256:1] %}
                                        <tr>
                                            <td>{{loop.index}}</td>
                                            <td>{{row}}</td>
                                            <td>{{image.hex_array[loop.index - 1]}}</td>
                                            <td>{{image.binary_array[loop.index - 1]}}
                                        </tr>
                                        {% if loop.index > 256 %}
                                            <tr><td>...</td><td>truncated</td><td>...</td><td>...</td></tr>
                                        {% endif %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>

{% endblock %}