{% extends "layouts/base.html" %}
{% set project = "Rohan" %}
{% block body %}
<script>
    function BeanieToggle() {
        var img = document.getElementById("blackbeanie")
        img.src =  "static/pizza.jpg"
        return false;
}
</script>
    <h1 style="text-align: center">
        Rohan Gaikwad Home Page
    </h1>
    <div
            class="container; center-block"
            style="margin: 2% 5% 5%; text-align: center; font-family: gilroy, serif">
        <div class="col-0">
            <p>Hello, {{name1}}!</p>
        </div>
        <div class="col-0">
            <form action="/rohan" id="greet" method="POST">
                <label for="name">WUSYANAME?</label>
                <input name="name" id="name" />
                <input type="submit" value="press da button!" />
            </form>
        </div>
        </br>
        <button onclick="BeanieToggle()">Brown Beanie</button>
        </br>
        <img id="blackbeanie" src="static/rohanmask.jpg" width="1000" height="600">
        </br>
        <button onclick="Masktoggle()">Brown Beanie</button>
        <p>
            </br>
            <iframe
                    width="1000"
                    height="500"
                    src="https://docs.google.com/document/d/1caGFdefkHrh74c3f_iuIx26mDD3QnP0FDM9cpS8BYFM/edit?usp=sharing"
            ></iframe>
        </p>
    </div>
{% endblock %}
{% block background %}
{% endblock %}