{% extends "layouts/base.html" %}
{% set project = "Rohan is so Cool" %}
{% block body %}
<script>
    beanienumber=0;
    function BeanieToggle() {
        const images = ["/static/rohanblackbeanie.jpg",
            "/static/rohanbrownbeanie.jpg"
        ];
        if (beanienumber == 0) {
            document.getElementById("beanie").src = images[0]
            beanienumber = 1;
        } else if (beanienumber == 1) {
            document.getElementById("beanie").src = images[1]
            beanienumber = 0;
        }
    }
</script>
    <h1 style="text-align: center">
        Rohan Gaikwad Home Page
    </h1>
<!--        {outcome(0)}-->
        </br>
        <button onclick="BeanieToggle()">Change Beanie</button>
        </br>
        <img id="beanie" src="static/rohanblackbeanie.jpg" width="1000" height="600">
        </br>
        <p>
            </br>
            <iframe
                    width="1000"
                    height="500"
                    src="https://docs.google.com/document/d/1caGFdefkHrh74c3f_iuIx26mDD3QnP0FDM9cpS8BYFM/edit?usp=sharing"
            ></iframe>
        </p>
    </div>
{% endblock %}
{% block background %}
{% endblock %}