{% extends "layouts/project.html" %}
{% block head %}
    <title>Saathvika</title>
    <script>
        function changeImage() {

            if (document.getElementById("imgClickAndChange").src.includes('/static/assets/SAwithmask.jpg'))
            {
                document.getElementById("imgClickAndChange").src = "/static/assets/SAwithoutmask.jpg";
            }
            else{
                document.getElementById("imgClickAndChange").src ="/static/assets/SAwithmask.jpg"
            }
        }

        function getLyric() {
            fetch("https://hargrimm-wikihow-v1.p.rapidapi.com/steps?count=3", {
	            "method": "GET",
	            "headers": {
		            "x-rapidapi-host": "hargrimm-wikihow-v1.p.rapidapi.com",
                    "x-rapidapi-key": "60a050bd05msh74aa096ce4eab1cp1830c5jsn1612bc7b6d1f"
	            }
            })
                .then(response => response.json())  // convert to json
                .then(json => {
                    console.log(json);    //print data to console
                        document.getElementById("display-lyric1").innerText = json["1"];
                        document.getElementById("display-lyric2").innerText = json["2"];
                        document.getElementById("display-lyric3").innerText = json["3"];
                })

                .catch(err => {
                    console.error(err);
                });
        }
    </script>
{% endblock %}
{% block body %}
<div style="background-image: url('../static/assets/SAbg.jpg'); background-repeat: no-repeat; background-attachment: fixed; background-size: cover">
    <div style="text-align:center; font-family: monospace; font-size: larger; width: 65%; margin: 0 auto 5%;" >
        <div>
            <h1 style="background-color: rgba(83,105,122, 0.8); font-family: 'Blippo'; font-size: 75px; text-align: center; padding: 20px; color: papayawhip; text-shadow: 5px 4px black;">Saathvika Ajith</h1>
            <p style="background-color: rgba(83,105,122, 0.8); font-size: 24px; color: #99ba6d; font-family: monospace">Hello there <span id="myName">{{name}}friend</span>, welcome to my individual homepage!</p>
            <form style="padding: 5px; font-size: 17px; background-color: rgba(83,105,122, 0.8); color: papayawhip; font-family: monospace" action="/saathvika/" id="saathvika2" method="POST" >
                <label for="name">Enter Your Name!</label>
                <input name="name" id="name">
                <input type="submit" value="Go!" onclick="(function (){document.getElementById('myName').innerText=document.getElementById('name').value})();return false;">
            </form>
        </div>
        <br>
        <div>
            <p style="background-color: rgba(83,105,122, 0.8); font-size: 20px; font-family: monospace; color: papayawhip">
                <img src="/static/assets/little.jpg" style="height: 350px; width: auto;" id="imgClickAndChange" onclick="changeImage()" alt="change"/>
                <br>
                Click me!
            </p>
            <p style="background-color: rgba(83,105,122, 0.8); font-size: 20px; color: papayawhip; font-family: monospace">Trimester Work: <br>
                <a style="color: #99ba6d" href="https://docs.google.com/document/d/1mfrMqXhbkRceC4fq3nXZMLD8jo5IjC2mwAsvpqjQX94/edit?usp=sharing">Daily Journal</a>
                <br><a style="color: #99ba6d" href="https://docs.google.com/document/d/1OkAMgzNODur6Gtonz_EuvoDeVXUnaMvdthtZnsBjXwU/edit">Create Task Planning TPT Notes</a>
                <br><a style="color: #99ba6d" href="https://docs.google.com/document/d/1OkAMgzNODur6Gtonz_EuvoDeVXUnaMvdthtZnsBjXwU/edit">StudyOwl BrainWrite</a>
                <br><a style="color: #99ba6d" href="https://github.com/samayass/flask_portfolio#readme">ReadMe</a>
            </p>
            <div style="background-color: rgba(83,105,122, 0.8)">
            <p style="font-size: 50px; padding-top: 15px; color: #99ba6d; font-family: Blippo">Out of Context WikiHow API:</p>
            <button id="get-lyric" style="height: 35px; font-family: monospace; font-size: 15px; color: darkslateblue; background-color: papayawhip" onclick="getLyric()">Get me some Instructions!</button>
            <div id="display-lyric1" style="margin-top: 25px; font-size: 30px; color: #99ba6d; font-weight: 600; font-family: monospace; text-align: center">No Text Yet</div>
            <div id="display-lyric2" style="margin-top: 10px; font-size: 30px; color: #99ba6d; font-weight: 600; font-family: monospace; text-align: center">No Text Yet</div>
            <div id="display-lyric3" style="margin-top: 10px; font-size: 30px; color: #99ba6d; font-weight: 600; font-family: monospace; text-align: center">No Text Yet</div>
                <br>
            </div>
            </div>
<br><br>
        </div>
</div>
{% endblock %}