{% block body %}

        <!- Try building a new body here ->
        <h1 id="abt_name"> Samaya </h1>


        <style>
            body{
                background: #37505c;
            }

        </style>

        <style>

            #abt_name {
                font-family: 'Ephesis';
                font-size: 120px;
                text-align: center;
                padding: 15px;
                color: white;
                text-shadow: 5px 5px #f76f8e;
            }

        </style>
    {% endblock %}

