<!DOCTYPE html>
{% extends "layouts/base.html" %}

{% set project = "Sonakshi RGB" %}

{% block background %}
{% endblock %}

{% block body %}
    <style>
        html, body{
            background-color: mediumslateblue;
        }
        h1 {
            font-size: 69px; /* lol */
        }
    </style>

    <script>
        // Hack: add java script function to toggle image from original to gray and back (toggle)
        //  document.getElementById("img<n>").src
        //  document.getElementID("img_gray<n>").innerHTML
        //  help: https://www.geeksforgeeks.org/how-to-change-the-src-attribute-of-an-img-element-in-javascript-jquery/

        var imageColor = 0; // 0 is color, 1 is gray
        var grayscale = {{ grayed|safe }};
        var colorscale = {{ colored|safe }};

        function toggleColors(array) {
            for (var i = 1; i <= array.length; i++) {
                let id = "img" + i;
                setImg(id, array[i-1]);
            }
        }

        function toggle() {
            if (imageColor == 0) {
                toggleColors(grayscale);
                imageColor = 1;
            } else {
                toggleColors(colorscale);
                imageColor = 0;
            }
        }
        let rot = 0;
        function imgrotate() {
            rot += 90;
            if (rot === 360) {
                rot = 0;
            }
            document.querySelector("img").style.transform = `rotate(${rot}deg)`;
        }

        function setImg(img, base64) {
            // add button and rotate image from original to gray and back (toggle)
            document.getElementById(img).src = base64;  //change img src to inner html on <p> tag
        }
    </script>
    <title>Sonakshi RGB</title>

    <h1 class="text-center">Sonakshi's RGB values within an Image</h1>
    <div class="container"></div>
    <div class="row justify-content-md-center" style="text-align: center; width: 50%">
        <div class="col align-self-start">
            <p>Grayscale</p>
            <button onclick="toggle()">Toggle Colors!</button>
        </div>
    </div>



    <div class="container">

        <div class="row justify-content-md-center">
            <table class="table">
                <thead>
                <tr>
                    <th>Meta Data</th>
                    <th>Image</th>
                    <th>Data</th>
                </tr>
                </thead>
                <tbody>
                {% for image in images %}
                    <tr>
                        <td>
                            <div>{{image.file}}</div>
                            <div>{{image.format}}</div>
                            <div>{{image.size}}</div>
                            <div>{{image.label}}</div>
                            <div>{{image.source}}</div>
                        </td>
                        <td>
                            <img class="img-responsive py-3" id=img{{loop.index}} alt="" width="256" height="Auto" src="{{image.base64}}" >
                            <!-- Hack: create button (btn{{loop.index}} to  call java script function
                               pass index to allow you to toggle images with hidden id's
                               {{image.base64}}  original image
                               {{image.base64_GRAY}}  gray scale image
                            -->
                            <p hidden id="img_orig{{loop.index}}">{{image.base64}}</p>
                            <p hidden id="img_gray{{loop.index}}">{{image.base64_GRAY}}</p>
                        </td>
                        <td>
                            <div class="overflow-auto" style="height: 256px">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>{{image.mode}}</th>
                                        <th>Hex Code</th>
                                        <th>Binary</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for row in image.data[:256:+1] %}
                                        <tr>
                                            <td>{{loop.index}}</td>
                                            <td>{{row}}</td>
                                            <td>{{image.hex_array[loop.index - 1]}}</td>
                                            <td>{{image.binary_array[loop.index - 1]}}
                                        </tr>
                                        {% if loop.index > 256 %}
                                            <tr><td>...</td><td>truncated</td><td>...</td><td>...</td></tr>
                                        {% endif %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>

{% endblock %}