<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Stubby" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}

    <html>
    <head>
        <style>
            body {
                background-image: url("https://wallpaperaccess.com/full/438941.jpg");
            }

            h1 {
                color: black;
                text-align: center;
            }

            p {
                color: black;
                text-align: center;
                font-size: 20px;
            }


        </style>

    </head>

    <h1>Sonakshi</h1>
    <p> Hi! My name is Sonakshi. I am 16 years old and a senior at Del Norte High School. I love to play tennis and enjoy going to the beach. </p>
    <div class="container">
        <div class="row">
            <div class="col-sm-2">
    <a href="https://github.com/sonakshibhalla/tri2turtles">Link to Github</a>

    <div class="container">
        <div class="row">
            <div class="col-sm-2">
    <a href="https://github.com/sonakshibhalla/tri2turtles">Link to Journal</a>

    <body>

    <div class="container">
        <div class="row">

            <div class="col-sm-1">

    <img id="myImage" onclick="changeImage()" src="/static/assets/sonakshi.png" width="250" height="250">


    <script>
        function changeImage() {
            var image = document.getElementById('myImage');
            if (image.src.match("/static/assets/sonakshi.png")) {
                image.src = "/static/mask.JPG";
            } else {
                image.src = "/static/assets/sonakshi.png";
            }
        }
    </script>
                <img src="/static/assets/tennis.png" alt="Tennis Ball" style="width: 200px; height: 200px;">
                <p style="text-align: center;"> Sonakshi's Hobbies </p>

    </body>


{% endblock %}


{% block background %}
{% endblock %}


