{% include "layouts/navbar.html" %}
<title>Sonakshi</title>
<body style="background-color: #EBF7FA;">
<style>
    .button1 {
        background-color: white;
        color: grey;
        border: 3px solid #9CD8EC;
        text-decoration: none;
        margin: 4px 2px;
        padding: 3px 4px;
    }

    .button1:hover {
        background-color: whitesmoke;
        color: black;
    }
</style>

<div style="margin: 2% 5% 5%; text-align:center; font-family: Baskerville; font-size: larger">
    <div>
        <p style="font-size: x-large"id="wave"><strong>Hello, {{name}}!</strong></p>
        <script>
            var targetForWave = document.getElementById("wave");
            targetForWave.textContent += String.fromCodePoint(0x1F44B);
        </script>
    </div>

    <div>
        <form action="/sonakshi" id="sonakshi" method="POST" >
            <label for="name">Enter a greeting name!</label>
            <input name="name" id="name">
            <input type="submit" class="button1" value="Greetings!">
        </form>
    </div>

    <br>
    <p>
    </p>
    <p style="font-size: large; font-family: Baskerville; text-align: center"><i>Click Me</i></p>
    <a href="{{url_for('newapi')}}" class="button1">Here is The API</a>

    <img id="myImage" onclick="changeImage()" src="/static/assets/sonakshi.png" width="250" height="250">

    <script>
        function changeImage() {
            var image = document.getElementById('myImage');
            if (image.src.match("/static/assets/sonakshi.png")) {
                image.src = "/static/mask.JPG";
            } else {
                image.src = "/static/assets/sonakshi.png";
            }
        }
    </script>


</div>
</body>