{% include "layouts/navbar.html" %}
<title>Stress Relief</title>


<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<style>
.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.button1 {background-color: #F5B7B1;} /* Green */
</style>
{%  block body %} <!-- Code from Punnu -->
<body onload="myFunction()">
<div class="container-fluid animate-bottom">
    <h1 style="text-align: center">Stress Relief & Relaxation</h1>
    <div class="row">
        <div class="col-sm-6">
            <p style="font-size: x-large">
                <button class="button button1">Relaxing Video</button>
                <br>
                <a href="https://www.youtube.com/watch?v=4ROrW727q_s">
                    <img src="/static/assets/Bluelantern.jpg" width="50%">
                </a>
                <br>
            </p>
        </div>
        <div class="col-sm-6">
        <p>
            <p style="font-size: x-large">
                <button class="button button1">Coloring Book</button>
                <br>
            <a href="https://coloringbook.pics/">
                <img src="/static/assets/colorpage.jpg" width=70%">
            </a>
        </p>
    </div>
</div>
</div>

</body>
{% endblock %}
</html>
