<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Stubby" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <div class="w3-container">
        <h1 class="w3-center w3-animate-right"> !</h1>
    </div>
    <!- Try building a new body here ->
    <div class="center-block" style="margin: 2% 5% 5%; text-align:left; font-family: gilroy,serif;">

        <div class="col-12">
            <p>Hello, {{fname}}!</p>
        </div>

        <div class="col-12">
            <form action="/greet" id="greet" method="POST" >
                <label for="fname">Type a greeting name?</label>
                <input name="fname" id="fname">
                <input type="submit" value="Greetings!">
            </form>
        </div>

        <div class="col-12">
            <img src="/static/assets/PythonFlask.jpeg" alt="Python Flask" style="height: 400px" >
        </div>

    </div>

{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}
