<!DOCTYPE html>
{% extends "layouts/base.html" %}

{% block body %}
{% set Data = stats.data %}

    <head>
        <style>
            body, html {
                background-color: rosybrown;
            }
        </style>
    </head>
    <body>
    <div class="center-block" style="margin: 2% 5% 5%; font-family: gilroy,serif;">
        <!-- Title -->
        <div class="col-12" style="text-align: center;">
            <h1><strong>Current Weather Data from rapidapi.com</strong></h1>
            <form action={{url_for('timezoneapi')}}>
                <button>Refresh!</button>
            </form>
        </div>


        <div class="col-20" style="text-align: left; ">
            <table class="table">
            <tbody>
                <thead>
                <tr>
                    <th>Timezone  </th>
                    <th>Country Code  </th>
{#                    <th>Clouds</th>#}
                    <th>City Name  </th>
                    <th>Wind Speed  </th>
                    <th>State Code</th>
                    <th>Sunset  </th>
                    <th>Dew</th>
                    <th>Snow</th>
                    <th>Precipitation  </th>
                    <th>Wind Direction  </th>
                    <th>Sunrise  </th>
                    <th>Latitude  </th>
                    <th>Weather</th>
{#                    <th>Description</th>#}
                    <th>Datetime</th>
                    <th>Temperature</th>
                </thead>
                <tbody>
                <tr>
                    <div class="col-12" style="text-align: left; ">
                            {% for info in Data %}
                                <tr>
                                    <td> {{info.timezone}} </td>
                                    <td> {{info.country_code}} </td>
                                    <td> {{info.city_name}} </td>
                                    <td> {{info.wind_spd}} </td>
                                    <td> {{info.state_code}} </td>
                                    <td> {{info.sunset}} </td>
                                    <td> {{info.dewpt}} </td>
                                    <td> {{info.snow}} </td>
                                    <td> {{info.precip}} </td>
                                    <td> {{info.wind_dir}} </td>
                                    <td> {{info.sunrise}} </td>
                                    <td> {{info.lat}} </td>
                                    <td> {{info.weather}} </td>
                                    <td> {{info.datetime}} </td>
                                    <td> {{info.temp}} </td>


                                </tr>
                            {% endfor %}
                        </table>
                    </div>

        </div>
        <style>
            table, td, th {
            }
            td, th {
                text-align:left;
            }
        </style>
    </div>

{% endblock %}