<!DOCTYPE html>

{% include "layouts/navbar.html" %}
<title>Volunteer Oppurtunities</title>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
{%  block body %}
<body onload="myFunction()">
<div class="container-fluid animate-bottom">
    <h1 style="text-align: center">Volunteer!</h1>
    <div class="row">
        <div class="col-sm-12">
            <p style="font-size: x-large">
                Here are some places to volunteer!
                <br>
                <a href="https://www.volunteermatch.org/">
                    <img src="/static/assets/volunteer_match.png" width="800px">
                </a>
                <br>
                <a href="https://www.sandiegocounty.gov/content/sdc/volunteer.html">
                    <img src="/static/assets/sdcgovt_volunteer_program.png" width="800px">
                </a>
            </p>
        </div>

    </div>
</div>
</body>
{% endblock %}
</html>