<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}
{% set project = "Sprint 3,4 Week 3" %}
<!- This variable sets name of browser tab  -->
{% set project = "Sprint 3,4 Week 3" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
<div class="center-block" style="margin: 2% 15% 3%";>
    <iframe width="1000" height="560" src="https://www.youtube.com/embed/4PBT40bsTYw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    {% endblock %}

    <!- This is turning off birds background from base.html -->